<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Crashlytics API Key</key>
	<string>b3915deee54ba3a77cbf104696b7fe19d113203b</string>
	<key>Analytics</key>
	<dict>
		<key>TOKEN_MIXPANEL</key>
		<string>YOUR_MIXPANEL_TOKEN</string>
		<key>TOKEN_GOOGLE</key>
		<string>UA-71848714-1</string>
		<key>TOKEN_MAAS</key>
		<string>YOUR_MAAS_TOKEN</string>
		<key>TOKEN_LOCALYTICS</key>
		<string>YOUR_LOCALYTICS_TOKEN</string>
		<key>TOKEN_FLURRY</key>
		<string>YOUR_FLURRY_TOKEN</string>
	</dict>
	<key>LogSettings</key>
	<dict>
		<key>logToStdout</key>
		<true/>
		<key>verbosity</key>
		<string>All</string>
	</dict>
	<key>Core WS Integration</key>
	<dict>
		<key>topLevelContentName</key>
		<string>Phunware Corporate</string>
		<key>applicationUUID</key>
		<string>613c65e3-f1ea-400a-b86e-29603e4c7799</string>
		<key>rootURL</key>
		<string>http://solutions-ws.phunware.com/AFManagementWS/</string>
		<key>voiceURL</key>
		<string></string>
		<key>webservicesID</key>
		<string>e7ee6efb-c66e-11df-bbda-ab061b74f77a</string>
		<key>webservicesKey</key>
		<string>15be1351-c66f-11df-bbda-ab061b74f77a</string>
		<key>databaseStorageVersion</key>
		<string>2.4.0</string>
	</dict>
	<key>MaaS Integration</key>
	<dict>
		<key>MaaSAppID</key>
		<string>1299</string>
		<key>MaaSAccessKey</key>
		<string>560825a4265bb3cfc2aaee038d1c5df8ff778192</string>
		<key>MaaSSignatureKey</key>
		<string>48973a929b447e81860ec196f4fbe6083cff9a7b</string>
		<key>MaaSContainerID</key>
		<string></string>
		<key>MaaSMapVenueGUID</key>
		<string></string>
		<key>MaaSAppName</key>
		<string>Generic 4.1 (iOS)</string>
		<key>MaaSPlatformName</key>
		<string>iOS</string>
		<key>S3URL</key>
		<string>https://solutions-db.phunware.com</string>
	</dict>
	<key>StartupSettings</key>
	<dict>
		<key>ShowSettings</key>
		<true/>
		<key>ShowSubscriptions</key>
		<true/>
		<key>TourEnabled</key>
		<true/>
		<key>H2VExpirationTime</key>
		<integer>6</integer>
	</dict>
	<key>MaaSLocationProvider</key>
	<dict>
		<key>floorIDMapping</key>
		<dict>
			<key>1</key>
			<integer>102950</integer>
		</dict>
		<key>location</key>
		<dict>
			<key>latitude</key>
			<real>30.359927</real>
			<key>longitude</key>
			<real>-97.74473399999999</real>
		</dict>
		<key>parameters</key>
		<dict>
			<key>customerIdentifier</key>
			<string>c3f5aa2d-f6a9-4477-80ed-3d8ccfd6fddb</string>
			<key>file</key>
			<string></string>
			<key>mapIdentifier</key>
			<string>32bf1bae-8567-481c-9fde-731f36d1869a</string>
			<key>mockParameters</key>
			<dict>
				<key>description</key>
				<string>Normal route Andy&apos;s Office to Sales</string>
				<key>locations</key>
				<array>
					<dict>
						<key>floorID</key>
						<string>102950</string>
						<key>horizontalAccuracy</key>
						<string>5.152377</string>
						<key>latitude</key>
						<string>30.360082</string>
						<key>longitude</key>
						<string>-97.742575</string>
						<key>updateInterval</key>
						<string>1.2</string>
					</dict>
					<dict>
						<key>floorID</key>
						<string>102950</string>
						<key>horizontalAccuracy</key>
						<string>5.152377</string>
						<key>latitude</key>
						<string>30.360052</string>
						<key>longitude</key>
						<string>-97.742519</string>
						<key>updateInterval</key>
						<string>1.2</string>
					</dict>
					<dict>
						<key>floorID</key>
						<string>102950</string>
						<key>horizontalAccuracy</key>
						<string>5.152377</string>
						<key>latitude</key>
						<string>30.360028</string>
						<key>longitude</key>
						<string>-97.742472</string>
						<key>updateInterval</key>
						<string>1.2</string>
					</dict>
					<dict>
						<key>floorID</key>
						<string>102950</string>
						<key>horizontalAccuracy</key>
						<string>5.152377</string>
						<key>latitude</key>
						<string>30.359997</string>
						<key>longitude</key>
						<string>-97.742500</string>
						<key>updateInterval</key>
						<string>1.2</string>
					</dict>
					<dict>
						<key>floorID</key>
						<string>102950</string>
						<key>horizontalAccuracy</key>
						<string>5.152377</string>
						<key>latitude</key>
						<string>30.359948</string>
						<key>longitude</key>
						<string>-97.742479</string>
						<key>updateInterval</key>
						<string>1.2</string>
					</dict>
					<dict>
						<key>floorID</key>
						<string>102950</string>
						<key>horizontalAccuracy</key>
						<string>5.152377</string>
						<key>latitude</key>
						<string>30.359909</string>
						<key>longitude</key>
						<string>-97.742511</string>
						<key>updateInterval</key>
						<string>1.2</string>
					</dict>
					<dict>
						<key>floorID</key>
						<string>102950</string>
						<key>horizontalAccuracy</key>
						<string>5.152377</string>
						<key>latitude</key>
						<string>30.359885</string>
						<key>longitude</key>
						<string>-97.742443</string>
						<key>updateInterval</key>
						<string>1.2</string>
					</dict>
					<dict>
						<key>floorID</key>
						<string>102950</string>
						<key>horizontalAccuracy</key>
						<string>5.152377</string>
						<key>latitude</key>
						<string>30.359860</string>
						<key>longitude</key>
						<string>-97.742405</string>
						<key>updateInterval</key>
						<string>1.2</string>
					</dict>
					<dict>
						<key>floorID</key>
						<string>102950</string>
						<key>horizontalAccuracy</key>
						<string>5.152377</string>
						<key>latitude</key>
						<string>30.359797</string>
						<key>longitude</key>
						<string>-97.742274</string>
						<key>updateInterval</key>
						<string>1.2</string>
					</dict>
					<dict>
						<key>floorID</key>
						<string>102950</string>
						<key>horizontalAccuracy</key>
						<string>5.152377</string>
						<key>latitude</key>
						<string>30.359776</string>
						<key>longitude</key>
						<string>-97.742242</string>
						<key>updateInterval</key>
						<string>1.2</string>
					</dict>
					<dict>
						<key>floorID</key>
						<string>102950</string>
						<key>horizontalAccuracy</key>
						<string>5.152377</string>
						<key>latitude</key>
						<string>30.359732</string>
						<key>longitude</key>
						<string>-97.742141</string>
						<key>updateInterval</key>
						<string>1.2</string>
					</dict>
					<dict>
						<key>floorID</key>
						<string>102950</string>
						<key>horizontalAccuracy</key>
						<string>5.152377</string>
						<key>latitude</key>
						<string>30.359699</string>
						<key>longitude</key>
						<string>-97.742052</string>
						<key>updateInterval</key>
						<string>1.2</string>
					</dict>
					<dict>
						<key>floorID</key>
						<string>102950</string>
						<key>horizontalAccuracy</key>
						<string>5.152377</string>
						<key>latitude</key>
						<string>30.359693</string>
						<key>longitude</key>
						<string>-97.741974</string>
						<key>updateInterval</key>
						<string>1.2</string>
					</dict>
				</array>
				<key>name</key>
				<string>Office to Sales</string>
				<key>updateInterval</key>
				<string>2.0</string>
			</dict>
			<key>venueGuid</key>
			<string>ec306e63-966d-4872-8e2c-0ce6972b7620</string>
		</dict>
		<key>type</key>
		<string>PWGPSLocationManager</string>
	</dict>
</dict>
</plist>
