<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>containerView</key>
	<dict>
		<key>clipsToBounds</key>
		<true/>
		<key>backgroundColor</key>
		<string>#c3c3c3</string>
		<key>cornerRadius</key>
		<integer>5</integer>
	</dict>
	<key>noticeTitleLabel</key>
	<dict>
		<key>text</key>
		<string>#afmdeletecustompoiviewcontroller.notice.title,AppFrameworkMapping</string>
		<key>fontName</key>
		<string>$MainFont</string>
		<key>fontSize</key>
		<integer>20</integer>
		<key>color</key>
		<string>$BlueColor</string>
		<key>lines</key>
		<integer>2</integer>
		<key>alignment</key>
		<string>center</string>
	</dict>
	<key>noticeDescriptionLabel</key>
	<dict>
		<key>text</key>
		<string>#afmdeletecustompoiviewcontroller.notice.description,AppFrameworkMapping</string>
		<key>lines</key>
		<integer>0</integer>
		<key>alignment</key>
		<string>center</string>
		<key>fontName</key>
		<string>$MainFont</string>
		<key>fontSize</key>
		<string>16</string>
		<key>color</key>
		<string>#8b8b8b</string>
	</dict>
	<key>noticeImageView</key>
	<dict>
		<key>image</key>
		<string>mapping_delete_custom_poi</string>
	</dict>
	<key>noticeDeclineButton</key>
	<dict>
		<key>buttonTitle</key>
		<string>#afmdeletecustompoiviewcontroller.declinebutton.title,AppFrameworkMapping</string>
		<key>backgroundColor</key>
		<string>#ffffff</string>
	</dict>
	<key>noticeAcceptButton</key>
	<dict>
		<key>buttonTitle</key>
		<string>#afmdeletecustompoiviewcontroller.acceptbutton.title,AppFrameworkMapping</string>
		<key>backgroundColor</key>
		<string>#ffffff</string>
	</dict>
	<key>noticeContainerView</key>
	<dict>
		<key>backgroundColor</key>
		<string>#ffffff</string>
	</dict>
	<key>view</key>
	<dict>
		<key>backgroundColor</key>
		<string>#77000000</string>
		<key>constraints</key>
		<array>
			<string>#containerView.centery=self.centery,1,0</string>
			<string>#containerView.centerx=self.centerx,1,0</string>
			<string>#containerView.width=self.width,0.75,0</string>
			<string>V:|[noticeContainerView]-0.5-[noticeDeclineButton(50)]|</string>
			<string>V:[noticeAcceptButton]|</string>
			<string>#noticeAcceptButton.top=noticeDeclineButton.top,1,0</string>
			<string>H:|[noticeContainerView]|</string>
			<string>V:|-24-[noticeTitleLabel]-24-[noticeImageView]-24-[noticeDescriptionLabel]-36-|</string>
			<string>H:|-&gt;=35-[noticeTitleLabel]-&gt;=35-|</string>
			<string>H:|-&gt;=35-[noticeDescriptionLabel]-&gt;=35-|</string>
			<string>#noticeTitleLabel.centerx=noticeContainerView.centerx,1,0</string>
			<string>#noticeImageView.centerx=noticeContainerView.centerx,1,0</string>
			<string>#noticeDescriptionLabel.centerx=noticeContainerView.centerx,1,0</string>
			<string>H:|[noticeDeclineButton]-0.5-[noticeAcceptButton]|</string>
			<string>#noticeAcceptButton.width=noticeDeclineButton.width,1,0</string>
		</array>
	</dict>
</dict>
</plist>
