<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contentView</key>
	<dict>
		<key>backgroundColor</key>
		<string>#ffffff</string>
		<key>borderColor</key>
		<string>#efefef</string>
		<key>borderWidth</key>
		<integer>1</integer>
	</dict>
	<key>buttonsView</key>
	<dict>
		<key>backgroundColor</key>
		<string>#ffffff</string>
		<key>cornerRadius</key>
		<string>4</string>
		<key>shadowColor</key>
		<string>#000000</string>
		<key>shadowOpacity</key>
		<real>0.3</real>
		<key>shadowOffset</key>
		<string>0,2</string>
		<key>shadowRadius</key>
		<integer>10</integer>
	</dict>
	<key>buttonsStackView</key>
	<dict>
		<key>axis</key>
		<string>horizontal</string>
		<key>alignment</key>
		<string>center</string>
		<key>distribution</key>
		<string>fillEqually</string>
	</dict>
	<key>itemTitleLabel</key>
	<dict>
		<key>lines</key>
		<integer>2</integer>
		<key>fontName</key>
		<string>.SFUIText-Bold</string>
		<key>fontSize</key>
		<string>17</string>
	</dict>
	<key>itemSubtitleLabel</key>
	<dict>
		<key>color</key>
		<string>#b3b3b4</string>
		<key>lines</key>
		<integer>2</integer>
		<key>fontName</key>
		<string>.SFUIText</string>
		<key>fontSize</key>
		<integer>15</integer>
	</dict>
	<key>view</key>
	<dict>
		<key>constraints</key>
		<array>
			<string>H:|[contentView]|</string>
			<string>V:|-25-[contentView]|</string>
			<string>H:|-24-[buttonsView]-24-|</string>
			<string>H:|[buttonsStackView]|</string>
			<string>V:|-13-[buttonsStackView]-13-|</string>
			<string>H:|-24-[itemTitleLabel]-24-|</string>
			<string>H:|-23-[itemSubtitleLabel]-24-|</string>
			<string>V:|-47-[itemTitleLabel]-[itemSubtitleLabel]</string>
			<string>#buttonsView.top=view.top,1,0</string>
			<string>#itemTitleLabel.top=buttonsView.bottom,1,24</string>
		</array>
	</dict>
</dict>
</plist>
