<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>navigationBar</key>
	<dict>
		<key>type</key>
		<string>DefaultNavBar</string>
	</dict>
	<key>titleLabel</key>
	<dict>
		<key>fontName</key>
		<string>.SFUIText-Medium</string>
		<key>fontSize</key>
		<string>17</string>
		<key>color</key>
		<string>$WhiteColor</string>
		<key>text</key>
		<string>#afmrouteselectionviewcontroller.titlelabel.text,AppFrameworkMapping</string>
	</dict>
	<key>cancelButton</key>
	<dict>
		<key>image</key>
		<string>icon_x</string>
	</dict>
	<key>startLabel</key>
	<dict>
		<key>fontName</key>
		<string>.SFUIText-Medium</string>
		<key>fontSize</key>
		<string>17</string>
		<key>text</key>
		<string>#afmrouteselectionviewcontroller.startlabel.text,AppFrameworkMapping</string>
		<key>alignment</key>
		<string>left</string>
		<key>color</key>
		<string>$BlackColor</string>
	</dict>
	<key>endLabel</key>
	<dict>
		<key>fontName</key>
		<string>.SFUIText-Medium</string>
		<key>fontSize</key>
		<string>17</string>
		<key>text</key>
		<string>#afmrouteselectionviewcontroller.endlabel.text,AppFrameworkMapping</string>
		<key>alignment</key>
		<string>left</string>
		<key>color</key>
		<string>$BlackColor</string>
	</dict>
	<key>startLocationTextField</key>
	<dict>
		<key>fontName</key>
		<string>.SFUIText-Medium</string>
		<key>fontSize</key>
		<string>15</string>
		<key>color</key>
		<string>$BlackColor</string>
		<key>alignment</key>
		<string>left</string>
		<key>placeholder</key>
		<string>#afmrouteselectionviewcontroller.startlocationtextfield.placeholder,AppFrameworkMapping</string>
	</dict>
	<key>endLocationTextField</key>
	<dict>
		<key>fontName</key>
		<string>.SFUIText-Medium</string>
		<key>fontSize</key>
		<string>15</string>
		<key>color</key>
		<string>$BlackColor</string>
		<key>alignment</key>
		<string>left</string>
	</dict>
	<key>reverseRoutesButton</key>
	<dict/>
	<key>buttonContainerView</key>
	<dict>
		<key>backgroundColor</key>
		<string>#ffffff</string>
	</dict>
	<key>routeButton</key>
	<dict>
		<key>buttonTitle</key>
		<string>#afmrouteselectionviewcontroller.routebutton.title.text,AppFrameworkMapping</string>
		<key>alignment</key>
		<string>center</string>
		<key>fontName</key>
		<string>.SFUIText-Semibold</string>
		<key>fontSize</key>
		<string>14</string>
	</dict>
	<key>separator</key>
	<dict>
		<key>backgroundColor</key>
		<string>#D9D9D9</string>
	</dict>
	<key>handicapIcon</key>
	<dict>
		<key>image</key>
		<string>wheelchair.png</string>
	</dict>
	<key>handicapAccessibilityLabel</key>
	<dict>
		<key>fontName</key>
		<string>.SFUIText</string>
		<key>fontSize</key>
		<string>13</string>
		<key>color</key>
		<string>#B2B2B2</string>
		<key>alignment</key>
		<string>center</string>
		<key>text</key>
		<string>#afmrouteselectionviewcontroller.handicapaccessibilitylabel.text,AppFrameworkMapping</string>
	</dict>
	<key>accessibleRouteSwitch</key>
	<dict/>
	<key>view</key>
	<dict>
		<key>backgroundColor</key>
		<string>$WhiteColor</string>
		<key>constraints</key>
		<array>
			<string>H:|-24-[startLabel(51)][startLocationTextField]-56-|</string>
			<string>H:|-24-[endLabel(51)][endLocationTextField]-56-|</string>
			<string>H:[reverseRoutesButton(21)]-15-|</string>
			<string>H:|-75-[handicapIcon(22)]-[handicapAccessibilityLabel(148)]-[accessibleRouteSwitch(51)]-56-|</string>
			<string>H:|[separator]|</string>
			<string>H:|[buttonContainerView]|</string>
			<string>H:|-24-[routeButton]-24-|</string>
			<string>V:|-24-[startLocationTextField(30)]-24-[endLocationTextField(30)]-37-[handicapAccessibilityLabel(22)]-36-[separator(1)]-301-[buttonContainerView]|</string>
			<string>V:|-53-[reverseRoutesButton(24)]</string>
			<string>V:|-24-[routeButton]-24-|</string>
			<string>#startLabel.centery=startLocationTextField.centery,1,0</string>
			<string>#endLabel.centery=endLocationTextField.centery,1,0</string>
			<string>#endLabel.height=startLabel.height,1,0</string>
			<string>#handicapIcon.centery=handicapAccessibilityLabel.centery,1,0</string>
			<string>#accessibleRouteSwitch.centery=handicapAccessibilityLabel.centery,1,0</string>
		</array>
	</dict>
</dict>
</plist>
