<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MaaSMapCampus</key>
	<dict>
		<key>Buildings</key>
		<array>
			<dict>
				<key>BuildingID</key>
				<string>17498</string>
				<key>BuildingName</key>
				<string>Phunware_Austin</string>
				<key>Location</key>
				<dict>
					<key>latitude</key>
					<real>30.359954</real>
					<key>longitude</key>
					<real>-97.74257299999999</real>
				</dict>
			</dict>
		</array>
		<key>CampusID</key>
		<string>500</string>
		<key>CampusName</key>
		<string>Phunware_Campus</string>
	</dict>
	<key>Crashlytics API Key</key>
	<string>b3915deee54ba3a77cbf104696b7fe19d113203b</string>
	<key>Analytics</key>
	<dict>
		<key>TOKEN_MIXPANEL</key>
		<string>YOUR_MIXPANEL_TOKEN</string>
		<key>TOKEN_GOOGLE</key>
		<string>UA-71848714-1</string>
		<key>TOKEN_MAAS</key>
		<string>YOUR_MAAS_TOKEN</string>
		<key>TOKEN_LOCALYTICS</key>
		<string>YOUR_LOCALYTICS_TOKEN</string>
		<key>TOKEN_FLURRY</key>
		<string>YOUR_FLURRY_TOKEN</string>
	</dict>
	<key>LogSettings</key>
	<dict>
		<key>logToStdout</key>
		<true/>
		<key>verbosity</key>
		<string>Debug</string>
	</dict>
	<key>Core WS Integration</key>
	<dict>
		<key>applicationUUID</key>
		<string>7d021f92-8435-4501-9e91-0dfddb3fb5ac</string>
		<key>rootURL</key>
		<string>https://solutions-ws.phunware.com/AFManagementWS/</string>
		<key>voiceURL</key>
		<string>https://solutions-ws.phunware.com/voiceReco/DoVoiceRecognitionEnhanced.aspx</string>
		<key>webservicesID</key>
		<string>e7ee6efb-c66e-11df-bbda-ab061b74f77a</string>
		<key>webservicesKey</key>
		<string>15be1351-c66f-11df-bbda-ab061b74f77a</string>
		<key>databaseStorageVersion</key>
		<string>2.4.0</string>
	</dict>
	<key>MaaS Integration</key>
	<dict>
		<key>MaaSAppID</key>
		<string>1198</string>
		<key>MaaSAccessKey</key>
		<string>c6e01eacf4364f25ec942ef91e62a6f7f37a3572</string>
		<key>MaaSSignatureKey</key>
		<string>a3ffd882810c66067162ac2e9331480a11a05c2d</string>
		<key>MaaSContainerID</key>
		<string>55088f4cd325e6b80a0007c7</string>
		<key>MaaSMapVenueGUID</key>
		<string>9a24647f-e455-4582-ae86-089930855dfe</string>
		<key>MaaSAppName</key>
		<string>PhunGeneric_v4</string>
		<key>MaaSPlatformName</key>
		<string>iOS</string>
		<key>S3URL</key>
		<string>https://solutions-db.phunware.com</string>
	</dict>
	<key>StartupSettings</key>
	<dict>
		<key>ShowSettings</key>
		<true/>
		<key>ShowSubscriptions</key>
		<true/>
		<key>TourEnabled</key>
		<true/>
	</dict>
	<key>CME</key>
	<dict>
		<key>Venues</key>
		<array>
			<dict>
				<key>Campuses</key>
				<array>
					<dict>
						<key>Buildings</key>
						<array>
							<dict>
								<key>vscBuildingName</key>
								<string>Phunware Austin</string>
								<key>vscBuildingId</key>
								<real>17498</real>
								<key>vscBuildingActive</key>
								<true/>
								<key>Floors</key>
								<array>
									<dict>
										<key>Beacons</key>
										<array/>
										<key>vscFloorActive</key>
										<true/>
										<key>vscFloorId</key>
										<real>102951</real>
										<key>vscFloorName</key>
										<string>Floor 1</string>
										<key>vscSenionFloorKeyiOS</key>
										<string>1</string>
									</dict>
									<dict>
										<key>Beacons</key>
										<array/>
										<key>vscFloorActive</key>
										<true/>
										<key>vscFloorId</key>
										<real>102950</real>
										<key>vscFloorName</key>
										<string>Floor 2</string>
										<key>vscSenionFloorKeyiOS</key>
										<string>0</string>
									</dict>
								</array>
								<key>Geo Settings</key>
								<dict>
									<key>latitude</key>
									<real>30.359927</real>
									<key>longitude</key>
									<real>-97.74473399999999</real>
									<key>geofenceLocationCode</key>
									<string>PhunwareSanDiego</string>
									<key>geofenceRadius</key>
									<string>100</string>
								</dict>
								<key>Map Settings</key>
								<dict>
									<key>vscMapDefaultFloor</key>
									<integer>2</integer>
									<key>vscMapZoomLevel</key>
									<integer>17</integer>
									<key>vscMapEyeAltitude</key>
									<integer>500</integer>
									<key>vscSenionCustomerIdiOS</key>
									<string>c3f5aa2d-f6a9-4477-80ed-3d8ccfd6fddb</string>
									<key>vscSenionMapIdiOS</key>
									<string>6486f9ae-3bf1-4552-b3e4-70b8d79a38ad</string>
								</dict>
							</dict>
						</array>
						<key>vscCampusName</key>
						<string>Phunware Austin</string>
						<key>vscCampusId</key>
						<integer>500</integer>
						<key>vscCampusActive</key>
						<true/>
						<key>vscCampusPropertyUUID</key>
						<string></string>
					</dict>
				</array>
				<key>vscVenueName</key>
				<string>Phunware</string>
				<key>vscVenueUUID</key>
				<string>9a24647f-e455-4582-ae86-089930855dfe</string>
				<key>vscVenuePropertyUUID</key>
				<string>ef84f782-47fd-11e4-b8da-d450167c2d6d</string>
				<key>vscVenueActive</key>
				<true/>
			</dict>
		</array>
		<key>AdvertisementSettings</key>
		<dict>
			<key>vscAdsBannerZone</key>
			<integer>65</integer>
			<key>vscAdsBannerFrequency</key>
			<integer>10</integer>
			<key>vscAdsInterstitialZone</key>
			<integer>65</integer>
			<key>vscAdsInterstitialFrequency</key>
			<integer>10</integer>
			<key>vscAdsNativeBannerZone</key>
			<integer>65</integer>
			<key>vscAdsDirectoryRow</key>
			<integer>3</integer>
			<key>vscAdsNativeEnable</key>
			<true/>
		</dict>
		<key>ApplicationSettings</key>
		<dict>
			<key>vscDefaultIndoorLocationProvider</key>
			<string>PWSLLocationManager</string>
		</dict>
	</dict>
	<key>MaaSLocationProvider</key>
	<dict>
		<key>floorIDMapping</key>
		<dict>
			<key>1</key>
			<integer>102950</integer>
		</dict>
		<key>location</key>
		<dict>
			<key>latitude</key>
			<real>30.359927</real>
			<key>longitude</key>
			<real>-97.74473399999999</real>
		</dict>
		<key>parameters</key>
		<dict>
			<key>customerIdentifier</key>
			<string>c3f5aa2d-f6a9-4477-80ed-3d8ccfd6fddb</string>
			<key>file</key>
			<string></string>
			<key>mapIdentifier</key>
			<string>32bf1bae-8567-481c-9fde-731f36d1869a</string>
			<key>mockParameters</key>
			<dict>
				<key>description</key>
				<string>Normal route Andy&apos;s Office to Sales</string>
				<key>locations</key>
				<array>
					<dict>
						<key>floorID</key>
						<string>102950</string>
						<key>horizontalAccuracy</key>
						<string>5.152377</string>
						<key>latitude</key>
						<string>30.360082</string>
						<key>longitude</key>
						<string>-97.742575</string>
						<key>updateInterval</key>
						<string>1.2</string>
					</dict>
					<dict>
						<key>floorID</key>
						<string>102950</string>
						<key>horizontalAccuracy</key>
						<string>5.152377</string>
						<key>latitude</key>
						<string>30.360052</string>
						<key>longitude</key>
						<string>-97.742519</string>
						<key>updateInterval</key>
						<string>1.2</string>
					</dict>
					<dict>
						<key>floorID</key>
						<string>102950</string>
						<key>horizontalAccuracy</key>
						<string>5.152377</string>
						<key>latitude</key>
						<string>30.360028</string>
						<key>longitude</key>
						<string>-97.742472</string>
						<key>updateInterval</key>
						<string>1.2</string>
					</dict>
					<dict>
						<key>floorID</key>
						<string>102950</string>
						<key>horizontalAccuracy</key>
						<string>5.152377</string>
						<key>latitude</key>
						<string>30.359997</string>
						<key>longitude</key>
						<string>-97.742500</string>
						<key>updateInterval</key>
						<string>1.2</string>
					</dict>
					<dict>
						<key>floorID</key>
						<string>102950</string>
						<key>horizontalAccuracy</key>
						<string>5.152377</string>
						<key>latitude</key>
						<string>30.359948</string>
						<key>longitude</key>
						<string>-97.742479</string>
						<key>updateInterval</key>
						<string>1.2</string>
					</dict>
					<dict>
						<key>floorID</key>
						<string>102950</string>
						<key>horizontalAccuracy</key>
						<string>5.152377</string>
						<key>latitude</key>
						<string>30.359909</string>
						<key>longitude</key>
						<string>-97.742511</string>
						<key>updateInterval</key>
						<string>1.2</string>
					</dict>
					<dict>
						<key>floorID</key>
						<string>102950</string>
						<key>horizontalAccuracy</key>
						<string>5.152377</string>
						<key>latitude</key>
						<string>30.359885</string>
						<key>longitude</key>
						<string>-97.742443</string>
						<key>updateInterval</key>
						<string>1.2</string>
					</dict>
					<dict>
						<key>floorID</key>
						<string>102950</string>
						<key>horizontalAccuracy</key>
						<string>5.152377</string>
						<key>latitude</key>
						<string>30.359860</string>
						<key>longitude</key>
						<string>-97.742405</string>
						<key>updateInterval</key>
						<string>1.2</string>
					</dict>
					<dict>
						<key>floorID</key>
						<string>102950</string>
						<key>horizontalAccuracy</key>
						<string>5.152377</string>
						<key>latitude</key>
						<string>30.359797</string>
						<key>longitude</key>
						<string>-97.742274</string>
						<key>updateInterval</key>
						<string>1.2</string>
					</dict>
					<dict>
						<key>floorID</key>
						<string>102950</string>
						<key>horizontalAccuracy</key>
						<string>5.152377</string>
						<key>latitude</key>
						<string>30.359776</string>
						<key>longitude</key>
						<string>-97.742242</string>
						<key>updateInterval</key>
						<string>1.2</string>
					</dict>
					<dict>
						<key>floorID</key>
						<string>102950</string>
						<key>horizontalAccuracy</key>
						<string>5.152377</string>
						<key>latitude</key>
						<string>30.359732</string>
						<key>longitude</key>
						<string>-97.742141</string>
						<key>updateInterval</key>
						<string>1.2</string>
					</dict>
					<dict>
						<key>floorID</key>
						<string>102950</string>
						<key>horizontalAccuracy</key>
						<string>5.152377</string>
						<key>latitude</key>
						<string>30.359699</string>
						<key>longitude</key>
						<string>-97.742052</string>
						<key>updateInterval</key>
						<string>1.2</string>
					</dict>
					<dict>
						<key>floorID</key>
						<string>102950</string>
						<key>horizontalAccuracy</key>
						<string>5.152377</string>
						<key>latitude</key>
						<string>30.359693</string>
						<key>longitude</key>
						<string>-97.741974</string>
						<key>updateInterval</key>
						<string>1.2</string>
					</dict>
				</array>
				<key>name</key>
				<string>Office to Sales</string>
				<key>updateInterval</key>
				<string>2.0</string>
			</dict>
			<key>venueGuid</key>
			<string>ec306e63-966d-4872-8e2c-0ce6972b7620</string>
		</dict>
		<key>type</key>
		<string>PWGPSLocationManager</string>
	</dict>
</dict>
</plist>
