<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>view</key>
	<dict>
		<key>backgroundColor</key>
		<string>#000000</string>
		<key>constraints</key>
		<array>
			<string>H:|[photo]|</string>
			<string>H:|[toolbar]|</string>
			<string>H:|-30-[message]-30-|</string>
			<string>V:|[photo][toolbar]|</string>
			<string>#message.centery=self.centery,1,0</string>
		</array>
	</dict>
	<key>toolbar</key>
	<dict/>
	<key>message</key>
	<dict>
		<key>text</key>
		<string>#afcparkingphotoviewcontroller.message.text</string>
		<key>fontName</key>
		<string>HelveticaNeue</string>
		<key>fontSize</key>
		<integer>17</integer>
		<key>lines</key>
		<integer>0</integer>
		<key>color</key>
		<string>#000000</string>
		<key>alignment</key>
		<string>center</string>
		<key>hidden</key>
		<true/>
	</dict>
	<key>photo</key>
	<dict/>
	<key>titleLabel</key>
	<dict>
		<key>text</key>
		<string></string>
		<key>color</key>
		<string>#ffffff</string>
		<key>fontName</key>
		<string>HelveticaNeue-Light</string>
		<key>fontSize</key>
		<integer>16</integer>
	</dict>
</dict>
</plist>
