<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>detailTextLabel</key>
	<dict>
		<key>fontName</key>
		<string>HelveticaNeue-Light</string>
		<key>color</key>
		<string>#0080ff</string>
		<key>fontSize</key>
		<string>15</string>
	</dict>
	<key>textLabel</key>
	<dict>
		<key>fontName</key>
		<string>HelveticaNeue-Light</string>
		<key>color</key>
		<string>#000000</string>
		<key>fontSize</key>
		<string>17</string>
	</dict>
	<key>map</key>
	<dict>
		<key>image</key>
		<string>directions.button.png</string>
	</dict>
</dict>
</plist>
