<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>view</key>
	<dict>
		<key>constraints</key>
		<array>
			<string>H:|[logo]|</string>
			<string>H:|[menu]|</string>
			<string>H:|[imageBackground]|</string>
			<string>V:|-32-[logo][menu]|</string>
			<string>V:|-10-[imageBackground]-0-|</string>
		</array>
	</dict>
	<key>logo</key>
	<dict>
		<key>image</key>
		<string>left.tray.logo.png</string>
	</dict>
	<key>menu</key>
	<dict/>
	<key>imageBackground</key>
	<dict>
		<key>image</key>
		<string>left.menu.overlay.png</string>
	</dict>
</dict>
</plist>
