<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>directory</key>
	<dict>
		<key>title</key>
		<string>Directory</string>
		<key>userInfo</key>
		<dict>
			<key>contentType</key>
			<string>Button</string>
			<key>contentAction</key>
			<string>36</string>
			<key>buttonTitle</key>
			<string>Directory</string>
		</dict>
	</dict>
	<key>dining</key>
	<dict>
		<key>title</key>
		<string>Dining</string>
		<key>userInfo</key>
		<dict>
			<key>contentType</key>
			<string>Button</string>
			<key>contentAction</key>
			<string>36</string>
			<key>buttonTitle</key>
			<string>Dining</string>
			<key>auxID1</key>
			<string>Dining</string>
		</dict>
	</dict>
	<key>events</key>
	<dict>
		<key>title</key>
		<string>Mall Events</string>
		<key>userInfo</key>
		<dict>
			<key>contentType</key>
			<string>Button</string>
			<key>contentAction</key>
			<string>30</string>
			<key>buttonTitle</key>
			<string>Mall Events</string>
		</dict>
	</dict>
	<key>map</key>
	<dict>
		<key>title</key>
		<string>Interactive Map</string>
		<key>userInfo</key>
		<dict>
			<key>contentType</key>
			<string>Button</string>
			<key>contentAction</key>
			<string>84</string>
			<key>buttonTitle</key>
			<string>Interactive Map</string>
		</dict>
	</dict>
	<key>movies</key>
	<dict>
		<key>title</key>
		<string>Movies</string>
		<key>userInfo</key>
		<dict>
			<key>contentType</key>
			<string>Button</string>
			<key>contentAction</key>
			<string>35</string>
			<key>buttonTitle</key>
			<string>Movies</string>
		</dict>
	</dict>
</dict>
</plist>
