<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>notifications</key>
    <dict>
        <key>show</key>
        <dict>
            <key>activationMode</key>
            <integer>0</integer>
            <key>title</key>
            <string>Show</string>
            <key>identifier</key>
            <string>show</string>
            <key>destructive</key>
            <false/>
            <key>authenticationRequired</key>
            <true/>
        </dict>
        <key>schedule</key>
        <dict>
            <key>activationMode</key>
            <integer>0</integer>
            <key>title</key>
            <string>Schedule</string>
            <key>identifier</key>
            <string>calendar</string>
            <key>destructive</key>
            <false/>
            <key>authenticationRequired</key>
            <true/>
        </dict>
        <key>route</key>
        <dict>
            <key>activationMode</key>
            <integer>0</integer>
            <key>title</key>
            <string>Route</string>
            <key>identifier</key>
            <string>route</string>
            <key>destructive</key>
            <false/>
            <key>authenticationRequired</key>
            <false/>
        </dict>
        <key>dismiss</key>
        <dict>
            <key>activationMode</key>
            <integer>1</integer>
            <key>title</key>
            <string>Dismiss</string>
            <key>identifier</key>
            <string>cancel</string>
            <key>destructive</key>
            <false/>
            <key>authenticationRequired</key>
            <false/>
        </dict>
    </dict>
    <key>categories</key>
    <dict>
        <key>show</key>
        <array>
            <string>show</string>
            <string>dismiss</string>
        </array>
        <key>route</key>
        <array>
            <string>route</string>
            <string>dismiss</string>
        </array>
        <key>schedule</key>
        <array>
            <string>schedule</string>
            <string>dismiss</string>
        </array>
    </dict>
</dict>
</plist>
