<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>view</key>
	<dict>
		<key>title</key>
		<string>Categorias</string>
		<key>backgroundColor</key>
		<string>#ffffff</string>
		<key>constraints</key>
		<array>
			<string>H:|[table]|</string>
			<string>H:|[topBar]|</string>
			<string>V:|[topBar(64)][table]|</string>
		</array>
	</dict>
	<key>table</key>
	<dict/>
	<key>topBar</key>
	<dict>
		<key>backgroundColor</key>
		<string>#000000</string>
		<key>constraints</key>
		<array>
			<string>H:|-&gt;=50-[cancelButton(80)]-6-|</string>
			<string>V:|-&gt;=1-[cancelButton(44)]-&gt;=1-|</string>
			<string>V:|-10-[titleLabel]-10-|</string>
			<string>#cancelButton.centery=topBar.centery,1,10</string>
			<string>#titleLabel.centerx=topBar.centerx,1,0</string>
		</array>
	</dict>
	<key>cancelButton</key>
	<dict>
		<key>color</key>
		<string>#ffffff</string>
		<key>fontSize</key>
		<integer>14</integer>
		<key>buttonTitle</key>
		<string>Cancelar</string>
		<key>fontName</key>
		<string>HelveticaNeue-Light</string>
	</dict>
	<key>titleLabel</key>
	<dict/>
</dict>
</plist>
