<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>table</key>
	<dict/>
	<key>view</key>
	<dict>
		<key>constraints</key>
		<array>
			<string>H:|[table]|</string>
			<string>V:|[table]|</string>
			<string>H:|-(&gt;=50)-[noResultsFoundLabel]-(&gt;=50)-|</string>
			<string>V:|-(&lt;=50)-[noResultsFoundLabel(21)]-(&gt;=100)-|</string>
			<string>H:|[favoritesBar]|</string>
			<string>#noResultsFoundLabel.centerx=self.centerx,1,0</string>
		</array>
		<key>backgroundColor</key>
		<string>$WhiteColor</string>
	</dict>
	<key>noResultsFoundLabel</key>
	<dict>
		<key>text</key>
		<string>#afcdirectoryviewcontroller.noresultsfound.title</string>
		<key>fontName</key>
		<string>$MainFont</string>
		<key>fontSize</key>
		<integer>18</integer>
		<key>color</key>
		<string>$LightGrayColor</string>
		<key>alignment</key>
		<string>center</string>
	</dict>
	<key>filterNoticeBar</key>
	<dict>
		<key>backgroundColor</key>
		<string>$GrayColor</string>
		<key>width</key>
		<integer>320</integer>
		<key>height</key>
		<integer>30</integer>
		<key>constraints</key>
		<array>
			<string>V:|-&gt;=0-[filterNotice]-&gt;=0-|</string>
			<string>V:|-&gt;=0-[filterCategory]-&gt;=0-|</string>
			<string>H:|-5-[filterNotice]-5-[filterCategory]-&gt;=0-|</string>
			<string>#filterNotice.centery=self.centery,1,0</string>
			<string>#filterCategory.centery=self.centery,1,0</string>
		</array>
	</dict>
	<key>filterNotice</key>
	<dict>
		<key>fontName</key>
		<string>$MainFontLight</string>
		<key>fontSize</key>
		<string>12</string>
		<key>color</key>
		<string>$BlueColor</string>
		<key>text</key>
		<string>#afcdirectoryviewcontroller.filternotice.title</string>
		<key>alignment</key>
		<string>left</string>
	</dict>
	<key>filterCategory</key>
	<dict>
		<key>fontName</key>
		<string>$MainFontLight</string>
		<key>fontSize</key>
		<integer>12</integer>
		<key>alignment</key>
		<string>left</string>
		<key>color</key>
		<string>$BlueColor</string>
		<key>text</key>
		<string>#afcdirectoryviewcontroller.filtercategory.title</string>
	</dict>
	<key>favoritesBar</key>
	<dict>
		<key>backgroundColor</key>
		<string>$WhiteColor</string>
		<key>height</key>
		<string>43</string>
		<key>width</key>
		<string>320</string>
		<key>constraints</key>
		<array>
			<string>H:|-8-[favoritesToggle]-8-|</string>
			<string>V:|-&gt;=1-[favoritesToggle]-&gt;=1-|</string>
			<string>#favoritesToggle.centery=self.centery,1,0</string>
		</array>
	</dict>
	<key>favoritesToggle</key>
	<dict>
		<key>backgroundColor</key>
		<string>$WhiteColor</string>
	</dict>
	<key>filterCategoriesButton</key>
	<dict>
		<key>buttonTitle</key>
		<string>#afcdirectoryviewcontroller.filtercategorybutton.title</string>
		<key>fontName</key>
		<string>HelveticaNeue-Light</string>
		<key>fontSize</key>
		<integer>18</integer>
		<key>color</key>
		<string>$WhiteColor</string>
		<key>alignment</key>
		<string>center</string>
	</dict>
</dict>
</plist>
