<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>table</key>
        <dict/>
        <key>view</key>
        <dict>
            <key>constraints</key>
            <array>
                <string>H:|[table]|</string>
                <string>V:|[table]|</string>
                <string>H:|[noResultsFoundLabel]|</string>
                <string>V:|-100-[noResultsFoundLabel(21)]-15-[activityIndicator]</string>
                <string>#noResultsFoundLabel.centerx=self.centerx,1,0</string>
                <string>#activityIndicator.centerx=self.centerx,1,0</string>
            </array>
            <key>backgroundColor</key>
            <string>$WhiteColor</string>
        </dict>
        <key>noResultsFoundLabel</key>
        <dict>
            <key>text</key>
            <string>#afcdirectoryviewcontroller.noresultsfound.title</string>
            <key>fontName</key>
            <string>$MainFont</string>
            <key>fontSize</key>
            <integer>18</integer>
            <key>color</key>
            <string>$LightGrayColor</string>
            <key>alignment</key>
            <string>center</string>
        </dict>
        <key>activityIndicator</key>
        <dict/>
    </dict>
</plist>
