<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>topBar</key>
	<dict>
		<key>barTintColor</key>
		<string>#363636</string>
		<key>tintColor</key>
		<string>#ffffff</string>
	</dict>
	<key>tableView</key>
	<dict>
		<key>tintColor</key>
		<string>#007aff</string>
		<key>allowsMultipleSelection</key>
		<true/>
		<key>rowHeight</key>
		<integer>50</integer>
	</dict>
	<key>buttonContainerView</key>
	<dict>
		<key>backgroundColor</key>
		<string>#ffffff</string>
	</dict>
	<key>cancelButton</key>
	<dict>
		<key>image</key>
		<string>icon_x</string>
	</dict>
	<key>saveButton</key>
	<dict>
		<key>backgroundColor</key>
		<string>#007aff</string>
		<key>buttonTitle</key>
		<string>#afccategoryviewcontroller.savebutton.title,AppFrameworkCategory</string>
		<key>color</key>
		<string>#ffffff</string>
		<key>fontName</key>
		<string>.SFUIText-Semibold</string>
		<key>fontSize</key>
		<integer>14</integer>
		<key>shadowColor</key>
		<string>#000000</string>
		<key>shadowOffset</key>
		<string>0,2</string>
		<key>shadowOpacity</key>
		<real>0.5</real>
		<key>shadowRadius</key>
		<integer>2</integer>
	</dict>
	<key>titleLabel</key>
	<dict>
		<key>text</key>
		<string>#afccategoryviewcontroller.title,AppFrameworkCore</string>
	</dict>
	<key>view</key>
	<dict>
		<key>constraints</key>
		<array>
			<string>H:|[topBar]|</string>
			<string>H:|[tableView]|</string>
			<string>H:|[buttonContainerView]|</string>
			<string>H:|-24-[saveButton]-24-|</string>
			<string>V:|-[saveButton(50)]-24-|</string>
			<string>V:|-20-[topBar][tableView][buttonContainerView]|</string>
		</array>
	</dict>
</dict>
</plist>
