<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>view</key>
	<dict>
		<key>backgroundColor</key>
		<string>#ffffff</string>
		<key>constraints</key>
		<array>
			<string>H:|[theText]|</string>
			<string>H:|[buttonBackgroundView]|</string>
			<string>V:|[theText][buttonBackgroundView]|</string>
		</array>
	</dict>
	<key>navigationBar</key>
	<dict>
		<key>type</key>
		<string>DefaultNavBar</string>
	</dict>
	<key>buttonBackgroundView</key>
	<dict>
		<key>backgroundColor</key>
		<string>#ffffff</string>
		<key>constraints</key>
		<array>
			<string>H:|-26-[agreeButton]-26-|</string>
			<string>V:|-15-[agreeButton]-15-|</string>
		</array>
	</dict>
	<key>agreeButton</key>
	<dict>
		<key>borderColor</key>
		<string>#363636</string>
		<key>borderWidth</key>
		<real>2</real>
		<key>buttonTitle</key>
		<string>#afcuieulaviewcontroller.agreebutton.buttontitle,AppFrameworkCore</string>
		<key>alignment</key>
		<string>center</string>
		<key>color</key>
		<string>#363636</string>
		<key>fontName</key>
		<string>$MainFont</string>
		<key>fontSize</key>
		<integer>16</integer>
	</dict>
	<key>theText</key>
	<dict/>
	<key>titleLabel</key>
	<dict>
		<key>type</key>
		<string>DefaultTitleLabel</string>
		<key>text</key>
		<string>#afcuieulaviewcontroller.navbar.title,AppFrameworkCore</string>
	</dict>
</dict>
</plist>
