<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Crashlytics API Key</key>
	<string>#ENTER A VALID VALUE#</string>
	<key>Analytics</key>
	<dict>
		<key>TOKEN_MIXPANEL</key>
		<string>YOUR_MIXPANEL_TOKEN</string>
		<key>TOKEN_GOOGLE</key>
		<string>YOUR_GOOGLE_TOKEN</string>
		<key>TOKEN_MAAS</key>
		<string>YOUR_MAAS_TOKEN</string>
		<key>TOKEN_LOCALYTICS</key>
		<string>YOUR_LOCALYTICS_TOKEN</string>
		<key>TOKEN_FLURRY</key>
		<string>YOUR_FLURRY_TOKEN</string>
	</dict>
	<key>LogSettings</key>
	<dict>
		<key>logToStdout</key>
		<true/>
		<key>verbosity</key>
		<string>Debug</string>
	</dict>
	<key>Core WS Integration</key>
	<dict>
		<key>topLevelContentName</key>
		<string>Phunware Corporate</string>
		<key>applicationUUID</key>
		<string>5c452f69-746b-4b1e-9681-14344f1d055e</string>
		<key>rootURL</key>
		<string>http://solutions-ws.phunware.com/AFManagementWS/</string>
		<key>voiceURL</key>
		<string></string>
		<key>webservicesID</key>
		<string>e7ee6efb-c66e-11df-bbda-ab061b74f77a</string>
		<key>webservicesKey</key>
		<string>15be1351-c66f-11df-bbda-ab061b74f77a</string>
	</dict>
	<key>MaaS Integration</key>
	<dict>
		<key>MaaSAppID</key>
		<string>1460</string>
		<key>MaaSAccessKey</key>
		<string>46f390d8a01859b5dbfa804db1634dd9603399df</string>
		<key>MaaSSignatureKey</key>
		<string>9a92d23a51d49114b19d54c3f1c0508a4a98e576</string>
		<key>S3URL</key>
		<string>https://solutions-db.phunware.com</string>
	</dict>
	<key>StartupSettings</key>
	<dict>
		<key>ShowSettings</key>
		<true/>
		<key>ShowSubscriptions</key>
		<true/>
		<key>TourEnabled</key>
		<true/>
		<key>H2VExpirationTime</key>
		<integer>6</integer>
	</dict>
	<key>PowerUser</key>
	<dict>
		<key>Days</key>
		<string>7</string>
		<key>TriggerValue</key>
		<string>3</string>
		<key>Attribute</key>
		<string>poweruser</string>
	</dict>
</dict>
</plist>
