<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>view</key>
	<dict>
		<key>backgroundColor</key>
		<string>$WhiteColor</string>
		<key>constraints</key>
		<array>
			<string>V:|-0-[notes]|</string>
			<string>H:|-18-[notes]-18-|</string>
			<string>H:|-21-[notesLabel]-21-|</string>
			<string>V:|-0-[notesLabel(52)]-&gt;=1-|</string>
		</array>
	</dict>
	<key>notes</key>
	<dict>
		<key>color</key>
		<string>$GrayColor</string>
		<key>fontName</key>
		<string>$MainFontLight</string>
		<key>fontSize</key>
		<integer>14</integer>
		<key>alignment</key>
		<string>left</string>
	</dict>
	<key>notesLabel</key>
	<dict>
		<key>color</key>
		<string>$GrayColor</string>
		<key>fontName</key>
		<string>$MainFontLightItalic</string>
		<key>fontSize</key>
		<integer>14</integer>
		<key>text</key>
		<string>#afcparkingnoteviewcontroller.noteslabel.text,AppFrameworkParking</string>
		<key>alignment</key>
		<string>left</string>
		<key>lines</key>
		<integer>0</integer>
	</dict>
	<key>titleLabel</key>
	<dict>
		<key>type</key>
		<string>DefaultTitleLabel</string>
		<key>text</key>
		<string>#afcparkingnoteviewcontroller.titlelabel.text,AppFrameworkParking</string>
		<key>fontName</key>
		<string>$MainFontLight</string>
		<key>fontSize</key>
		<integer>16</integer>
	</dict>
</dict>
</plist>
