<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>view</key>
	<dict>
		<key>constraints</key>
		<array>
			<string>V:|-0-[background]|</string>
			<string>H:|[background]|</string>
			<string>V:|-0-[scrollView]|</string>
			<string>H:|[scrollView]|</string>
		</array>
	</dict>
	<key>scrollView</key>
	<dict>
		<key>constraints</key>
		<array>
			<string>V:|[containerView]|</string>
			<string>#containerView.width=scrollView.width,1,0</string>
			<string>#containerView.centerx=scrollView.centerx,1,0</string>
		</array>
	</dict>
	<key>containerView</key>
	<dict>
		<key>constraints</key>
		<array>
			<string>V:|-16-[parkingReminderTitle][parkingChooseMethod]-&gt;=0-|</string>
			<string>H:|-12-[parkingReminderTitle]-&gt;=1-[parkingIcon(45)]-40-|</string>
			<string>H:|-11-[parkingChooseMethod]-&gt;=1-|</string>
			<string>H:|[gpsLocationButton][takePictureButton]|</string>
			<string>H:|[recordVoiceMemoButton][writeNoteButton]|</string>
			<string>H:|-&gt;=0-[gpsLocationButtonLabel]-&gt;=0-[takePictureButtonLabel]-&gt;=0-|</string>
			<string>H:|-&gt;=0-[recordVoiceMemoButtonLabel]-&gt;=0-[writeNoteButtonLabel]-&gt;=0-|</string>
			<string>H:|-&gt;=0-[locationSavedMessage]-&gt;=0-[imageSavedMessage]-&gt;=0-|</string>
			<string>H:|-&gt;=0-[voiceMemoSavedMessage]-&gt;=0-[noteSavedMessage]-&gt;=0-|</string>
			<string>V:|-100-[gpsLocationButton(120)][gpsLocationButtonLabel][locationSavedMessage(21)]-10-[recordVoiceMemoButton(120)][recordVoiceMemoButtonLabel][voiceMemoSavedMessage(21)]-40-|</string>
			<string>V:|-100-[takePictureButton(120)][takePictureButtonLabel][imageSavedMessage(21)]-10-[writeNoteButton(120)][writeNoteButtonLabel][noteSavedMessage(21)]-40-|</string>
			<string>V:|-93-[tile]-35-|</string>
			<string>H:|[tile]|</string>
			<string>#gpsLocationButton.width=containerView.width,0.5,0</string>
			<string>#takePictureButton.width=containerView.width,0.5,0</string>
			<string>#recordVoiceMemoButton.width=containerView.width,0.5,0</string>
			<string>#writeNoteButton.width=containerView.width,0.5,0</string>
			<string>#parkingIcon.top=parkingReminderTitle.top,1,0</string>
			<string>#gpsLocationButton.centery=takePictureButton.centery,1,0</string>
			<string>#recordVoiceMemoButton.centery=writeNoteButton.centery,1,0</string>
			<string>#gpsLocationButtonLabel.centerx=gpsLocationButton.centerx,1,0</string>
			<string>#takePictureButtonLabel.centerx=takePictureButton.centerx,1,0</string>
			<string>#recordVoiceMemoButtonLabel.centerx=recordVoiceMemoButton.centerx,1,0</string>
			<string>#writeNoteButtonLabel.centerx=writeNoteButton.centerx,1,0</string>
			<string>#locationSavedMessage.centerx=gpsLocationButtonLabel.centerx,1,0</string>
			<string>#imageSavedMessage.centerx=takePictureButton.centerx,1,0</string>
			<string>#voiceMemoSavedMessage.centerx=recordVoiceMemoButton.centerx,1,0</string>
			<string>#noteSavedMessage.centerx=writeNoteButton.centerx,1,0</string>
		</array>
	</dict>
	<key>background</key>
	<dict>
		<key>image</key>
		<string>Default.Background.png</string>
	</dict>
	<key>parkingReminderTitle</key>
	<dict>
		<key>fontName</key>
		<string>HelveticaNeue-Light</string>
		<key>fontSize</key>
		<integer>18</integer>
		<key>alignment</key>
		<string>left</string>
		<key>text</key>
		<string>#afcparkingviewcontroller.parkingremindertitle.text</string>
		<key>color</key>
		<string>#0067b1</string>
	</dict>
	<key>parkingChooseMethod</key>
	<dict>
		<key>fontName</key>
		<string>HelveticaNeue-Light</string>
		<key>fontSize</key>
		<integer>15</integer>
		<key>color</key>
		<string>#686868</string>
		<key>text</key>
		<string>#afcparkingviewcontroller.parkingchoosemethod.text</string>
		<key>alignment</key>
		<string>left</string>
	</dict>
	<key>parkingIcon</key>
	<dict>
		<key>image</key>
		<string>parking.icon.png</string>
	</dict>
	<key>tile</key>
	<dict/>
	<key>gpsLocationButton</key>
	<dict>
		<key>image</key>
		<string>pin.gps.location.button.png</string>
	</dict>
	<key>takePictureButton</key>
	<dict>
		<key>image</key>
		<string>take.a.picture.button.png</string>
	</dict>
	<key>recordVoiceMemoButton</key>
	<dict>
		<key>image</key>
		<string>record.a.memo.png</string>
	</dict>
	<key>writeNoteButton</key>
	<dict>
		<key>image</key>
		<string>write.note.button.png</string>
	</dict>
	<key>gpsLocationButtonLabel</key>
	<dict>
		<key>fontName</key>
		<string>HelveticaNeue-Light</string>
		<key>fontSize</key>
		<integer>15</integer>
		<key>text</key>
		<string>#afcparkingviewcontroller.gpslocationbuttonlabel.text</string>
		<key>color</key>
		<string>#000000</string>
		<key>alignment</key>
		<string>center</string>
	</dict>
	<key>takePictureButtonLabel</key>
	<dict>
		<key>fontName</key>
		<string>HelveticaNeue-Light</string>
		<key>fontSize</key>
		<integer>15</integer>
		<key>alignment</key>
		<string>center</string>
		<key>text</key>
		<string>#afcparkingviewcontroller.takepicturebuttonlabel.text</string>
		<key>color</key>
		<string>#000000</string>
	</dict>
	<key>recordVoiceMemoButtonLabel</key>
	<dict>
		<key>fontName</key>
		<string>HelveticaNeue-Light</string>
		<key>fontSize</key>
		<integer>15</integer>
		<key>text</key>
		<string>#afcparkingviewcontroller.recordvoicememobuttonlabel.text</string>
		<key>alignment</key>
		<string>center</string>
		<key>color</key>
		<string>#000000</string>
	</dict>
	<key>writeNoteButtonLabel</key>
	<dict>
		<key>fontName</key>
		<string>HelveticaNeue-Light</string>
		<key>fontSize</key>
		<integer>15</integer>
		<key>color</key>
		<string>#000000</string>
		<key>text</key>
		<string>#afcparkingviewcontroller.writenotebuttonlabel.text</string>
		<key>alignment</key>
		<string>center</string>
	</dict>
	<key>locationSavedMessage</key>
	<dict>
		<key>fontName</key>
		<string>HelveticaNeue-Light</string>
		<key>fontSize</key>
		<integer>10</integer>
		<key>color</key>
		<string>#0067b1</string>
		<key>text</key>
		<string>#afcparkingviewcontroller.locationsavedmessage.text</string>
		<key>alignment</key>
		<string>center</string>
	</dict>
	<key>imageSavedMessage</key>
	<dict>
		<key>fontName</key>
		<string>HelveticaNeue-Light</string>
		<key>fontSize</key>
		<integer>10</integer>
		<key>color</key>
		<string>#0067b1</string>
		<key>text</key>
		<string>#afcparkingviewcontroller.imagesavedmessage.text</string>
		<key>alignment</key>
		<string>center</string>
	</dict>
	<key>voiceMemoSavedMessage</key>
	<dict>
		<key>fontName</key>
		<string>HelveticaNeue-Light</string>
		<key>fontSize</key>
		<integer>10</integer>
		<key>color</key>
		<string>#0067b1</string>
		<key>text</key>
		<string>#afcparkingviewcontroller.voicememosavedmessage.text</string>
		<key>alignment</key>
		<string>center</string>
	</dict>
	<key>noteSavedMessage</key>
	<dict>
		<key>fontName</key>
		<string>HelveticaNeue-Light</string>
		<key>fontSize</key>
		<integer>10</integer>
		<key>color</key>
		<string>#0067b1</string>
		<key>alignment</key>
		<string>center</string>
		<key>text</key>
		<string>Note Saved</string>
	</dict>
	<key>titleLabel</key>
	<dict>
		<key>text</key>
		<string>#afcparkingviewcontroller.titlelabel.text</string>
		<key>color</key>
		<string>#ffffff</string>
		<key>fontName</key>
		<string>HelveticaNeue-Light</string>
		<key>fontSize</key>
		<integer>16</integer>
	</dict>
</dict>
</plist>
