<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>view</key>
	<dict>
		<key>backgroundColor</key>
		<string>#ffffff</string>
		<key>constraints</key>
		<array>
			<string>V:|-0-[recordVoiceMemoTitle(49)]-20-[recordButton(76)]-44-[separator(2)]-23-[recordingLabel(21)][lastRecordingMessage(27)]-35-[progress(2)]-&gt;=0-|</string>
			<string>H:|-17-[recordVoiceMemoTitle]-17-|</string>
			<string>H:|[separator]|</string>
			<string>H:|[progress]|</string>
			<string>H:|-68-[recordButton(76)]-39-[playButton(70)]-&gt;=0-|</string>
			<string>H:|-15-[recordingLabel]-5-[deleteButton(40)]-15-|</string>
			<string>#deleteButton.height=deleteButton.width,1,0</string>
			<string>#lastRecordingMessage.width=recordingLabel.width,1,0</string>
			<string>#lastRecordingMessage.left=recordingLabel.left,1,0</string>
			<string>#playButton.height=playButton.width,1,0</string>
			<string>#playButton.bottom=recordButton.bottom,1,0</string>
			<string>#deleteButton.centery=recordingLabel.centery,1,0</string>
		</array>
	</dict>
	<key>recordVoiceMemoTitle</key>
	<dict>
		<key>text</key>
		<string>#afcparkingvoicememoviewcontroller.recordvoicememotitle.text</string>
		<key>fontName</key>
		<string>$MainFontLight</string>
		<key>fontSize</key>
		<integer>15</integer>
		<key>color</key>
		<string>#686868</string>
		<key>alignment</key>
		<string>center</string>
		<key>lines</key>
		<string>0</string>
	</dict>
	<key>recordingLabel</key>
	<dict>
		<key>fontName</key>
		<string>$MainFontLight</string>
		<key>fontSize</key>
		<integer>15</integer>
		<key>color</key>
		<string>#0067b1</string>
		<key>lines</key>
		<integer>1</integer>
		<key>alignment</key>
		<string>left</string>
	</dict>
	<key>lastRecordingMessage</key>
	<dict>
		<key>fontName</key>
		<string>$MainFontLight</string>
		<key>fontSize</key>
		<integer>15</integer>
		<key>lines</key>
		<integer>2</integer>
		<key>color</key>
		<string>#000000</string>
		<key>alignment</key>
		<string>left</string>
	</dict>
	<key>deleteButton</key>
	<dict>
		<key>image</key>
		<string>parking.record.x.png</string>
	</dict>
	<key>recordButton</key>
	<dict>
		<key>image</key>
		<string>record.button.png</string>
		<key>image#selected</key>
		<string>stop.button.png</string>
	</dict>
	<key>playButton</key>
	<dict>
		<key>image</key>
		<string>play.button.png</string>
		<key>image#selected</key>
		<string>pause.button.png</string>
	</dict>
	<key>progress</key>
	<dict/>
	<key>separator</key>
	<dict>
		<key>backgroundColor</key>
		<string>#B8B8B8</string>
	</dict>
	<key>titleLabel</key>
	<dict>
		<key>type</key>
		<string>DefaultTitleLabel</string>
		<key>text</key>
		<string>Parking Memo</string>
		<key>color</key>
		<string>#ffffff</string>
		<key>fontSize</key>
		<integer>16</integer>
	</dict>
</dict>
</plist>
