<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>view</key>
	<dict>
		<key>backgroundColor</key>
		<string>$WhiteColor</string>
		<key>constraints</key>
		<array>
			<string>V:|-0-[webView]|</string>
			<string>H:|[webView]|</string>
		</array>
	</dict>
	<key>webView</key>
	<dict/>
</dict>
</plist>
