<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>view</key>
	<dict>
		<key>backgroundColor</key>
		<string>#f3f3f3</string>
		<key>constraints</key>
		<array>
			<string>H:|[tableView]|</string>
			<string>V:|[tableView]|</string>
			<string>H:|[storeFrontImage]|</string>
			<string>V:|[storeFrontImage(135)]-&gt;=1-|</string>
		</array>
	</dict>
	<key>itemSubtitle</key>
	<dict>
		<key>fontName</key>
		<string>HelveticaNeue-Light</string>
		<key>fontSize</key>
		<integer>12</integer>
		<key>color</key>
		<string>#0080FF</string>
		<key>alignment</key>
		<string>left</string>
		<key>lines</key>
		<integer>1</integer>
	</dict>
	<key>itemTitle</key>
	<dict>
		<key>fontName</key>
		<string>HelveticaNeue-Thin</string>
		<key>fontSize</key>
		<integer>22</integer>
		<key>alignment</key>
		<string>left</string>
		<key>color</key>
		<string>#000000</string>
		<key>lines</key>
		<integer>1</integer>
	</dict>
	<key>storeFrontImage</key>
	<dict/>
	<key>routeButton</key>
	<dict>
		<key>image</key>
		<string>directions.button.png</string>
	</dict>
	<key>shareButton</key>
	<dict>
		<key>image</key>
		<string>EngageMe_ios_share.png</string>
	</dict>
	<key>favoriteButton</key>
	<dict>
		<key>image</key>
		<string>favorite.button.png</string>
		<key>image#selected</key>
		<string>favorite.selected.png</string>
	</dict>
	<key>titleLabel</key>
	<dict>
		<key>color</key>
		<string>#ffffff</string>
		<key>fontName</key>
		<string>HelveticaNeue-Light</string>
		<key>fontSize</key>
		<string>17</string>
	</dict>
	<key>tableView</key>
	<dict/>
	<key>backgroundExtraButtons</key>
	<dict>
		<key>constraints</key>
		<array>
			<string>#phoneButton.width=websiteButton.width,1,0</string>
		</array>
	</dict>
	<key>phoneButton</key>
	<dict/>
	<key>websiteButton</key>
	<dict/>
</dict>
</plist>
