<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>view</key>
	<dict>
		<key>backgroundColor</key>
		<string>$WhiteColor</string>
		<key>constraints</key>
		<array>
			<string>V:|[controlsBar][webView]|</string>
			<string>H:|[controlsBar]|</string>
			<string>H:|[webView]|</string>
			<string>H:|[backButton(44)]-&gt;=8-[forwardButton(44)]-&gt;=8-[reloadButton(44)][status(67)][spinner]-&gt;=0-[closeButton(68)]-&gt;=10-|</string>
			<string>#backButton.height=backButton.width,1,0</string>
			<string>#forwardButton.height=forwardButton.width,1,0</string>
			<string>#reloadButton.height=reloadButton.width,1,0</string>
			<string>V:|-&gt;=1-[status(32)]-&gt;=1-|</string>
			<string>V:|-&gt;=1-[closeButton(32)]-&gt;=1-|</string>
			<string>#closeButton.centery=controlsBar.centery,1,9</string>
			<string>#backButton.centery=controlsBar.centery,1,9</string>
			<string>#forwardButton.centery=controlsBar.centery,1,9</string>
			<string>#reloadButton.centery=controlsBar.centery,1,9</string>
			<string>#spinner.centery=controlsBar.centery,1,9</string>
			<string>#status.centery=controlsBar.centery,1,9</string>
			<string>#extraButton.centery=controlsBar.centery,1,9</string>
			<string>H:|-&gt;=1-[extraButton]-&gt;=1-|</string>
			<string>#extraButton.centerx=status.centerx,1,9</string>
			<string>#extraButton.width=closeButton.width,1,0</string>
		</array>
	</dict>
	<key>controlsBar</key>
	<dict>
		<key>image</key>
		<string>Default.NavBar.png</string>
	</dict>
	<key>webView</key>
	<dict>
		<key>backgroundColor</key>
		<string>$WhiteColor</string>
	</dict>
	<key>status</key>
	<dict>
		<key>text</key>
		<string>#afcuimodalwebbrowser.status.text</string>
		<key>fontName</key>
		<string>$MainFontLight</string>
		<key>fontSize</key>
		<integer>15</integer>
		<key>alignment</key>
		<string>left</string>
		<key>color</key>
		<string>$WhiteColor</string>
		<key>lines</key>
		<string>1</string>
	</dict>
	<key>spinner</key>
	<dict/>
	<key>closeButton</key>
	<dict>
		<key>buttonTitle</key>
		<string>#afcuimodalwebbrowser.closeButton.buttontitle</string>
		<key>fontName</key>
		<string>$MainFontLight</string>
		<key>fontSize</key>
		<integer>15</integer>
		<key>alignment</key>
		<string>center</string>
		<key>color</key>
		<string>$BlackColor</string>
		<key>background</key>
		<string>Default.ToolBarButton.png</string>
	</dict>
	<key>extraButton</key>
	<dict>
		<key>background</key>
		<string>Default.ToolBarButton.png</string>
	</dict>
	<key>backButton</key>
	<dict>
		<key>image</key>
		<string>Back.Button.png</string>
	</dict>
	<key>forwardButton</key>
	<dict>
		<key>image</key>
		<string>Forwad.Button.png</string>
	</dict>
	<key>reloadButton</key>
	<dict>
		<key>image</key>
		<string>Reload.Toolbar.Button.png</string>
	</dict>
</dict>
</plist>
