<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>self</key>
	<dict>
		<key>separatorInset</key>
		<string>0,0,0,0</string>
		<key>selectionStyle</key>
		<string>none</string>
	</dict>
</dict>
</plist>
