<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>titleLabel</key>
	<dict>
		<key>text</key>
		<string>Directory</string>
	</dict>
	<key>tableView</key>
	<dict>
		<key>tintColor</key>
		<string>$AccentColor</string>
		<key>sectionIndexColor</key>
		<string>$AccentColor</string>
		<key>sectionIndexBackgroundColor</key>
		<string>#00ffffff</string>
		<key>sectionIndexTrackingBackgroundColor</key>
		<string>#00ffffff</string>
	</dict>
	<key>searchBar</key>
	<dict/>
	<key>noResultsLabel</key>
	<dict>
		<key>text</key>
		<string>#afddirectoryviewcontroller.noresults.title</string>
		<key>fontName</key>
		<string>$MainFontBold</string>
		<key>fontSize</key>
		<integer>18</integer>
		<key>color</key>
		<string>#AAAAAA</string>
		<key>alignment</key>
		<string>center</string>
		<key>lines</key>
		<string>0</string>
	</dict>
	<key>badgeLabel</key>
	<dict>
		<key>fontName</key>
		<string>.SFUIDisplay-Medium</string>
		<key>fontSize</key>
		<string>10</string>
		<key>borderColor</key>
		<string>#007aff</string>
		<key>borderWidth</key>
		<integer>2</integer>
		<key>cornerRadius</key>
		<string>8</string>
		<key>alignment</key>
		<string>center</string>
		<key>color</key>
		<string>$WhiteColor</string>
		<key>backgroundColor</key>
		<string>#007aff</string>
	</dict>
	<key>view</key>
	<dict>
		<key>backgroundColor</key>
		<string>#363636</string>
		<key>constraints</key>
		<array>
			<string>H:|[tableView]|</string>
			<string>V:|[tableView]|</string>
			<string>#noResultsLabel.width=self.width,0.75,0</string>
			<string>#noResultsLabel.centerx=self.centerx,1,0</string>
			<string>#noResultsLabel.centery=self.centery,0.66,0</string>
		</array>
	</dict>
</dict>
</plist>
