<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>titleLabel</key>
	<dict>
		<key>text</key>
		<string>Directory</string>
	</dict>
	<key>tableView</key>
	<dict/>
	<key>searchBar</key>
	<dict/>
	<key>noResultsLabel</key>
	<dict>
		<key>text</key>
		<string>#afddirectoryviewcontroller.noresults.title</string>
		<key>fontName</key>
		<string>.SFUIText-Bold</string>
		<key>fontSize</key>
		<integer>18</integer>
		<key>color</key>
		<string>#AAAAAA</string>
		<key>alignment</key>
		<string>center</string>
	</dict>
	<key>filterButtonItem</key>
	<dict>
		<key>image</key>
		<string>map.filter.off</string>
		<key>fontName</key>
		<string>.SFUIText-Light</string>
		<key>fontSize</key>
		<integer>14</integer>
		<key>color</key>
		<string>#ffffff</string>
		<key>alignment</key>
		<string>center</string>
	</dict>
	<key>view</key>
	<dict>
		<key>backgroundColor</key>
		<string>#ffffff</string>
		<key>constraints</key>
		<array>
			<string>H:|[tableView]|</string>
			<string>V:|[tableView]|</string>
			<string>#noResultsLabel.width=self.width,0.75,0</string>
			<string>#noResultsLabel.centerx=self.centerx,1,0</string>
			<string>#noResultsLabel.centery=self.centery,0.66,0</string>
		</array>
	</dict>
</dict>
</plist>
