<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>readIndicatorImageView</key>
	<dict>
		<key>image</key>
		<string>offerwallet.unread.indicator</string>
	</dict>
	<key>titleLabel</key>
	<dict>
		<key>fontName</key>
		<string>$MainFontBold</string>
		<key>fontSize</key>
		<string>$MainFontSize</string>
		<key>lines</key>
		<integer>2</integer>
	</dict>
	<key>expirationDateLabel</key>
	<dict>
		<key>color</key>
		<string>$BlueColor</string>
	</dict>
	<key>descriptionLabel</key>
	<dict>
		<key>fontName</key>
		<string>$MainFont</string>
		<key>fontSize</key>
		<string>$MainFontSize</string>
		<key>lines</key>
		<integer>2</integer>
	</dict>
	<key>contentView</key>
	<dict>
		<key>constraints</key>
		<array>
			<string>H:|-[readIndicatorImageView]-[titleLabel]-|</string>
			<string>#readIndicatorImageView.width=readIndicatorImageView.height,1,0</string>
			<string>#expirationDateLabel.leading=titleLabel.leading,1,0</string>
			<string>#descriptionLabel.leading=titleLabel.leading,1,0</string>
			<string>#readIndicatorImageView.centery=titleLabel.centery,1,0</string>
			<string>V:|-[titleLabel]-[expirationDateLabel]-[descriptionLabel]-|</string>
			<string>V:[titleLabel]-8@749-[descriptionLabel]</string>
			<string>H:[titleLabel]-&gt;=8-|</string>
			<string>H:[descriptionLabel]-&gt;=8-|</string>
		</array>
	</dict>
</dict>
</plist>
