<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>navigationBar</key>
	<dict>
		<key>tintColor</key>
		<string>#ffffff</string>
	</dict>
	<key>titleLabel</key>
	<dict>
		<key>text</key>
		<string>#afmcofferdetailviewcontroller.titlelabel.text</string>
	</dict>
	<key>offerTitleLabel</key>
	<dict>
		<key>fontName</key>
		<string>$MainFontBold</string>
		<key>fontSize</key>
		<integer>18</integer>
		<key>lines</key>
		<integer>0</integer>
	</dict>
	<key>expirationDateLabel</key>
	<dict/>
	<key>descriptionLabel</key>
	<dict>
		<key>fontName</key>
		<string>$MainFont</string>
		<key>fontSize</key>
		<string>$MainFontSize</string>
		<key>lines</key>
		<integer>0</integer>
	</dict>
	<key>offerButton</key>
	<dict>
		<key>borderColor</key>
		<string>$BlueColor</string>
		<key>borderWidth</key>
		<integer>2</integer>
		<key>color</key>
		<string>$BlueColor</string>
		<key>buttonTitle</key>
		<string>#afmcofferdetailviewcontroller.offerbutton.title</string>
		<key>cornerRadius</key>
		<integer>20</integer>
	</dict>
	<key>view</key>
	<dict>
		<key>backgroundColor</key>
		<string>#ffffff</string>
		<key>constraints</key>
		<array>
			<string>H:|[scrollView]|</string>
			<string>V:|[scrollView]|</string>
			<string>H:|[contentView(==view)]|</string>
			<string>V:|[contentView(&gt;=view)]|</string>
		</array>
	</dict>
	<key>scrollView</key>
	<dict>
		<key>constraints</key>
		<array/>
	</dict>
	<key>contentView</key>
	<dict>
		<key>constraints</key>
		<array>
			<string>H:|-[offerTitleLabel]-(&gt;=8)-|</string>
			<string>H:|-[expirationDateLabel]-(&gt;=8)-|</string>
			<string>H:|-[descriptionLabel]-(&gt;=8)-|</string>
			<string>H:|-20-[offerButton]-20-|</string>
			<string>V:|-[offerTitleLabel]-[expirationDateLabel]-[descriptionLabel]-(&gt;=8)-[offerButton(40)]-20-|</string>
			<string>V:[offerTitleLabel]-(8@749)-[descriptionLabel]</string>
		</array>
	</dict>
</dict>
</plist>
