<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>view</key>
	<dict>
		<key>backgroundColor</key>
		<string>#ffffff</string>
	</dict>
	<key>navigationBar</key>
	<dict>
		<key>tint</key>
		<string>#ffffff</string>
	</dict>
	<key>titleLabel</key>
	<dict>
		<key>text</key>
		<string>#afmcofferswipeviewcontroller.titlelabel.text,AppFrameworkMessageCenter</string>
	</dict>
</dict>
</plist>
