<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>offersTableView</key>
	<dict>
		<key>constraints</key>
		<array>
			<string>#emptyMessageLabel.centerx=self.centerx,1,0</string>
			<string>#emptyMessageLabel.centery=self.centery,0.5,0</string>
			<string>#emptyMessageLabel.width=self.width,.66,0</string>
		</array>
	</dict>
	<key>deleteButton</key>
	<dict>
		<key>tintColor</key>
		<string>#ff0000</string>
	</dict>
	<key>titleLabel</key>
	<dict>
		<key>text</key>
		<string>#afmcofferwalletviewcontroller.titlelabel.text</string>
		<key>fontName</key>
		<string>HevelticaNeue-Light</string>
		<key>fontSize</key>
		<string>16</string>
		<key>color</key>
		<string>#ffffff</string>
	</dict>
	<key>emptyMessageLabel</key>
	<dict>
		<key>text</key>
		<string>#afmcofferwalletviewcontroller.emptymessagelabel.text</string>
		<key>lines</key>
		<string>2</string>
		<key>alignment</key>
		<string>center</string>
	</dict>
	<key>view</key>
	<dict>
		<key>constraints</key>
		<array>
			<string>H:|[offersTableView]|</string>
			<string>V:|[offersTableView]|</string>
			<string>H:|[deleteButton]|</string>
			<string>V:[deleteButton]-|</string>
		</array>
	</dict>
</dict>
</plist>
