<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>view</key>
	<dict>
		<key>constraints</key>
		<array>
			<string>H:|[tableView]|</string>
			<string>V:|[tableView]|</string>
			<string>#noResultsLabel.width=self.width,0.75,0</string>
			<string>#noResultsLabel.centerx=self.centerx,1,0</string>
			<string>#noResultsLabel.centery=self.centery,0.45,0</string>
		</array>
	</dict>
	<key>tableView</key>
	<dict/>
	<key>titleLabel</key>
	<dict>
		<key>text</key>
		<string>#afcmmappickerviewcontroller.navbar.title,AppFrameworkMapping</string>
	</dict>
	<key>navigationBar</key>
	<dict>
		<key>tintColor</key>
		<string>#ffffff</string>
	</dict>
	<key>searchController</key>
	<dict>
		<key>searchBarBackgroundColor</key>
		<string>#363636</string>
		<key>searchBarTintColor</key>
		<string>$WhiteColor</string>
		<key>searchBarBarTintColor</key>
		<string>#363636</string>
		<key>searchBarPlaceholder</key>
		<string>#afcmmappickerviewcontroller.searchbar.placeholder,AppFrameworkMapping</string>
		<key>searchBarTextFieldBackgroundColor</key>
		<string>$BlackColor</string>
		<key>searchBarTextFieldTextColor</key>
		<string>$WhiteColor</string>
		<key>searchBarTextFieldTextFont</key>
		<string>$MainFontLight</string>
		<key>searchBarTextFieldTextSize</key>
		<string>14</string>
	</dict>
	<key>noResultsLabel</key>
	<dict>
		<key>text</key>
		<string>#afmmappickerviewcontroller.noresultslabel.text,AppFrameworkMapping</string>
		<key>fontName</key>
		<string>$MainFontBold</string>
		<key>fontSize</key>
		<integer>18</integer>
		<key>color</key>
		<string>#AAAAAA</string>
		<key>alignment</key>
		<string>center</string>
		<key>lines</key>
		<string>0</string>
	</dict>
</dict>
</plist>
