<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>titleLabel</key>
	<dict>
		<key>lineBreakMode</key>
		<string>bytruncatingtail</string>
		<key>lines</key>
		<integer>1</integer>
	</dict>
	<key>scrollView</key>
	<dict>
		<key>bounces</key>
		<false/>
	</dict>
	<key>containerView</key>
	<dict>
		<key>backgroundColor</key>
		<string>#f6f7fb</string>
	</dict>
	<key>contentView</key>
	<dict>
		<key>backgroundColor</key>
		<string>#ffffff</string>
		<key>borderColor</key>
		<string>#efefef</string>
		<key>borderWidth</key>
		<integer>1</integer>
	</dict>
	<key>headerImageView</key>
	<dict>
		<key>backgroundColor</key>
		<string>#ffffff</string>
		<key>contentMode</key>
		<string>aspectFill</string>
		<key>clipsToBounds</key>
		<true/>
	</dict>
	<key>buttonsView</key>
	<dict>
		<key>backgroundColor</key>
		<string>#ffffff</string>
		<key>cornerRadius</key>
		<string>4</string>
		<key>shadowColor</key>
		<string>#000000</string>
		<key>shadowOpacity</key>
		<real>0.3</real>
		<key>shadowOffset</key>
		<string>0,2</string>
		<key>shadowRadius</key>
		<integer>10</integer>
	</dict>
	<key>buttonsStackView</key>
	<dict>
		<key>axis</key>
		<string>horizontal</string>
		<key>alignment</key>
		<string>center</string>
		<key>distribution</key>
		<string>fillEqually</string>
		<key>spacing</key>
		<integer>5</integer>
	</dict>
	<key>itemTitleLabel</key>
	<dict>
		<key>lines</key>
		<integer>0</integer>
		<key>lineBreakMode</key>
		<string>bywordwrapping</string>
		<key>fontName</key>
		<string>$MainFontBold</string>
		<key>fontSize</key>
		<string>17</string>
	</dict>
	<key>itemSubtitleLabel</key>
	<dict>
		<key>color</key>
		<string>#b3b3b4</string>
		<key>lines</key>
		<integer>0</integer>
		<key>lineBreakMode</key>
		<string>bywordwrapping</string>
		<key>fontName</key>
		<string>$MainFont</string>
		<key>fontSize</key>
		<integer>15</integer>
	</dict>
	<key>itemDescriptionLabel</key>
	<dict>
		<key>lines</key>
		<integer>0</integer>
		<key>lineBreakMode</key>
		<string>bywordwrapping</string>
		<key>fontName</key>
		<string>$MainFont</string>
		<key>fontSize</key>
		<integer>15</integer>
	</dict>
	<key>view</key>
	<dict>
		<key>backgroundColor</key>
		<string>#ffffff</string>
		<key>constraints</key>
		<array>
			<string>V:|[scrollView]|</string>
			<string>H:|[scrollView]|</string>
			<string>#containerView.width=self.width,1,0</string>
			<string>V:|[containerView]|</string>
			<string>H:|[containerView]|</string>
			<string>V:|-20-[headerImageView]-20-[contentView]|</string>
			<string>#headerImageView.height=view.height,0.5,0</string>
			<string>H:|-20-[headerImageView]-20-|</string>
			<string>H:|-(-1)-[contentView]-(-1)-|</string>
			<string>H:|-[buttonsView]-|</string>
			<string>V:|-19-[buttonsStackView]-15-|</string>
			<string>H:|-5-[buttonsStackView]-5-|</string>
			<string>#buttonsView.leading=headerImageView.leading,1,0</string>
			<string>#buttonsView.trailing=headerImageView.trailing,1,0</string>
			<string>#buttonsView.top=headerImageView.bottom,1,-4</string>
			<string>#itemTitleLabel.top=buttonsView.bottom,1,24</string>
			<string>V:[itemTitleLabel]-[itemSubtitleLabel]-24-[itemDescriptionLabel]-|</string>
			<string>H:|-25-[itemTitleLabel]-25-|</string>
			<string>H:|-25-[itemSubtitleLabel]-25-|</string>
			<string>H:|-25-[itemDescriptionLabel]-25-|</string>
		</array>
	</dict>
</dict>
</plist>
