<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>caretImageView</key>
	<dict/>
	<key>contentView</key>
	<dict>
		<key>constraints</key>
		<array>
			<string>H:|-18-[directionImageView(24)]-12-[directionLabel]-12-[caretImageView(15)]-18-|</string>
			<string>V:|-18-[directionImageView(24)]</string>
			<string>V:[caretImageView(8)]-9-|</string>
			<string>#directionLabel.top=directionImageView.top,1,0</string>
		</array>
	</dict>
	<key>directionImageView</key>
	<dict/>
	<key>directionLabel</key>
	<dict>
		<key>fontName</key>
		<string>$MainFont</string>
		<key>fontSize</key>
		<integer>16</integer>
		<key>lines</key>
		<string>2</string>
		<key>lineBreakMode</key>
		<string>bytruncatingtail</string>
	</dict>
</dict>
</plist>
