<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>view</key>
	<dict>
		<key>backgroundColor</key>
		<string>$WhiteColor</string>
		<key>constraints</key>
		<array>
			<string>V:|[navBarView(64)]-9-[startLocationTextField(30)]-8-[separator1(1)]-7-[endLocationTextField(30)]-5-[separator2(1)]-16-[handicapAccessibilityLabel(21)]-16-[separator3(1)][poiTableView]|</string>
			<string>V:|-&gt;=90-[reverseRoutesButton(33)]-&gt;=0-|</string>
			<string>V:|-&gt;=90-[handicapIcon(31)]-&gt;=0-|</string>
			<string>V:|-&gt;=1-[startLabel(30)]-&gt;=1-|</string>
			<string>H:|-6-[separator1]-13-[reverseRoutesButton(26)]-15-|</string>
			<string>H:|[navBarView]|</string>
			<string>H:|[separator2]|</string>
			<string>H:|[separator3]|</string>
			<string>H:|[poiTableView]|</string>
			<string>H:|-18-[startLabel(50)][startLocationTextField]-45-|</string>
			<string>H:|-18-[endLabel(50)][endLocationTextField]-45-|</string>
			<string>H:|-11-[handicapIcon(31)]-12-[handicapAccessibilityLabel]-46-[accessibleRouteSwitch]-13-|</string>
			<string>#reverseRoutesButton.centery=separator1.centery,1,0</string>
			<string>#handicapIcon.centery=handicapAccessibilityLabel.centery,1,0</string>
			<string>#accessibleRouteSwitch.centery=handicapAccessibilityLabel.centery,1,0</string>
			<string>#startLabel.centery=startLocationTextField.centery,1,0</string>
			<string>#endLabel.centery=endLocationTextField.centery,1,0</string>
			<string>#endLabel.height=startLabel.height,1,0</string>
		</array>
	</dict>
	<key>startLocationTextField</key>
	<dict>
		<key>fontName</key>
		<string>$MainFontLight</string>
		<key>fontSize</key>
		<integer>20</integer>
		<key>color</key>
		<string>$BlackColor</string>
		<key>alignment</key>
		<string>left</string>
		<key>placeholder</key>
		<string>#afcuimroutebuilderviewcontroller.startlocationtextfield.placeholder</string>
	</dict>
	<key>endLocationTextField</key>
	<dict>
		<key>fontName</key>
		<string>$MainFontLight</string>
		<key>fontSize</key>
		<string>20</string>
		<key>color</key>
		<string>$BlackColor</string>
		<key>alignment</key>
		<string>left</string>
		<key>placeholder</key>
		<string>#afcuimroutebuilderviewcontroller.endlocationtextfield.placeholder</string>
	</dict>
	<key>startLabel</key>
	<dict>
		<key>fontName</key>
		<string>$MainFontMedium</string>
		<key>fontSize</key>
		<integer>12</integer>
		<key>text</key>
		<string>#afcuimroutebuilderviewcontroller.startlabel.text</string>
		<key>alignment</key>
		<string>left</string>
		<key>color</key>
		<string>#6EA100</string>
		<key>width</key>
		<string>60</string>
		<key>height</key>
		<string>30</string>
	</dict>
	<key>endLabel</key>
	<dict>
		<key>fontName</key>
		<string>$MainFontMedium</string>
		<key>fontSize</key>
		<integer>12</integer>
		<key>text</key>
		<string>#afcuimroutebuilderviewcontroller.endlabel.text</string>
		<key>alignment</key>
		<string>left</string>
		<key>color</key>
		<string>$BlueColor</string>
		<key>width</key>
		<string>60</string>
		<key>height</key>
		<string>30</string>
	</dict>
	<key>poiTableView</key>
	<dict/>
	<key>reverseRoutesButton</key>
	<dict>
		<key>image</key>
		<string>flip.png</string>
	</dict>
	<key>navBarView</key>
	<dict>
		<key>backgroundColor</key>
		<string>$BlackColor</string>
		<key>constraints</key>
		<array>
			<string>V:|-&gt;=0-[titleLabel(44)]-&gt;=0-|</string>
			<string>H:|[cancelButton(70)]-&gt;=0-[titleLabel]-&gt;=0-[routeButton(70)]|</string>
			<string>#cancelButton.height=titleLabel.height,1,0</string>
			<string>#routeButton.height=titleLabel.height,1,0</string>
			<string>#titleLabel.centery=self.centery,1,9</string>
			<string>#titleLabel.centerx=self.centerx,1,0</string>
			<string>#cancelButton.centery=titleLabel.centery,1,0</string>
			<string>#routeButton.centery=titleLabel.centery,1,0</string>
		</array>
	</dict>
	<key>titleLabel</key>
	<dict>
		<key>fontName</key>
		<string>$MainFontLight</string>
		<key>fontSize</key>
		<integer>16</integer>
		<key>color</key>
		<string>$WhiteColor</string>
		<key>text</key>
		<string>#afcuimroutebuilderviewcontroller.titlelabel.text</string>
		<key>alignment</key>
		<string>center</string>
	</dict>
	<key>cancelButton</key>
	<dict>
		<key>buttonTitle</key>
		<string>#afcuimroutebuilderviewcontroller.cancelbutton.buttontitle</string>
		<key>fontName</key>
		<string>$MainFont</string>
		<key>fontSize</key>
		<integer>16</integer>
		<key>alignment</key>
		<string>center</string>
		<key>color</key>
		<string>$WhiteColor</string>
	</dict>
	<key>routeButton</key>
	<dict>
		<key>buttonTitle</key>
		<string>#afcuimroutebuilderviewcontroller.routebutton.buttontitle</string>
		<key>fontName</key>
		<string>$MainFontBold</string>
		<key>fontSize</key>
		<integer>16</integer>
		<key>color</key>
		<string>$WhiteColor</string>
		<key>alignment</key>
		<string>center</string>
	</dict>
	<key>separator1</key>
	<dict>
		<key>backgroundColor</key>
		<string>$LightGrayColor</string>
	</dict>
	<key>separator2</key>
	<dict>
		<key>backgroundColor</key>
		<string>$LightGrayColor</string>
	</dict>
	<key>separator3</key>
	<dict>
		<key>backgroundColor</key>
		<string>$LightGrayColor</string>
	</dict>
	<key>handicapAccessibilityLabel</key>
	<dict>
		<key>fontName</key>
		<string>$MainFontLightItalic</string>
		<key>fontSize</key>
		<integer>14</integer>
		<key>color</key>
		<string>#737373</string>
		<key>alignment</key>
		<string>left</string>
		<key>text</key>
		<string>#afcuimroutebuilderviewcontroller.handicapaccessibilitylabel.text</string>
	</dict>
	<key>accessibleRouteSwitch</key>
	<dict/>
	<key>handicapIcon</key>
	<dict>
		<key>image</key>
		<string>wheelchair.png</string>
	</dict>
	<key>outdoorToIndoorAlert</key>
	<dict>
		<key>backgroundColor</key>
		<string>#FFCC0F</string>
		<key>width</key>
		<string>320</string>
		<key>height</key>
		<string>163</string>
		<key>constraints</key>
		<array>
			<string>V:|-15-[outdoorToIndoorAlertTitle(30)]-&gt;=0-|</string>
			<string>V:|-38-[outdoorToIndoorAlertMessage(44)]-&gt;=0-|</string>
			<string>V:|-100-[dismissOutdoorToIndoor(40)]-&gt;=0-|</string>
			<string>H:|[outdoorToIndoorAlertTitle]|</string>
			<string>H:|-8-[outdoorToIndoorAlertMessage]-8-|</string>
			<string>H:|-20-[dismissOutdoorToIndoor]-40-[openInMapsButton]-20-|</string>
			<string>#openInMapsButton.height=dismissOutdoorToIndoor.height,1,0</string>
			<string>#openInMapsButton.centery=dismissOutdoorToIndoor.centery,1,0</string>
			<string>#dismissOutdoorToIndoor.width=openInMapsButton.width,1,0</string>
		</array>
	</dict>
	<key>outdoorToIndoorAlertTitle</key>
	<dict>
		<key>text</key>
		<string>#afcuimroutebuilderviewcontroller.outdoortoindooralerttitle.text</string>
		<key>fontName</key>
		<string>$MainFontMedium</string>
		<key>fontSize</key>
		<integer>16</integer>
		<key>color</key>
		<string>$WhiteColor</string>
		<key>alignment</key>
		<string>center</string>
	</dict>
	<key>outdoorToIndoorAlertMessage</key>
	<dict>
		<key>text</key>
		<string>#afcuimroutebuilderviewcontroller.outdoortoindooralerttitle.message</string>
		<key>lines</key>
		<integer>2</integer>
		<key>fontName</key>
		<string>$MainFont</string>
		<key>fontSize</key>
		<integer>13</integer>
		<key>alignment</key>
		<string>center</string>
		<key>color</key>
		<string>$WhiteColor</string>
	</dict>
	<key>dismissOutdoorToIndoor</key>
	<dict>
		<key>buttonTitle</key>
		<string>#afcuimroutebuilderviewcontroller.dismissoutdoortoindoor.buttontitle</string>
		<key>fontName</key>
		<string>$MainFont</string>
		<key>fontSize</key>
		<integer>14</integer>
		<key>alignment</key>
		<string>center</string>
		<key>color</key>
		<string>$WhiteColor</string>
		<key>cornerRadius</key>
		<integer>5</integer>
		<key>borderColor</key>
		<string>$WhiteColor</string>
		<key>borderWidth</key>
		<integer>1</integer>
	</dict>
	<key>openInMapsButton</key>
	<dict>
		<key>buttonTitle</key>
		<string>#afcuimroutebuilderviewcontroller.openinmapsbutton.buttontitle</string>
		<key>fontName</key>
		<string>$MainFont</string>
		<key>fontSize</key>
		<integer>14</integer>
		<key>alignment</key>
		<string>center</string>
		<key>color</key>
		<string>$WhiteColor</string>
		<key>borderColor</key>
		<string>$WhiteColor</string>
		<key>borderWidth</key>
		<real>1</real>
		<key>cornerRadius</key>
		<integer>5</integer>
	</dict>
	<key>welcomeBack</key>
	<dict>
		<key>backgroundColor</key>
		<string>#FFCC0F</string>
		<key>width</key>
		<string>320</string>
		<key>height</key>
		<string>163</string>
		<key>constraints</key>
		<array>
			<string>V:|-15-[welcomeBackTitle(30)]-&gt;=0-|</string>
			<string>V:|-38-[welcomeBackMessage(44)]-&gt;=0-|</string>
			<string>V:|-100-[welcomeBackDismiss(40)]-&gt;=0-|</string>
			<string>H:|[welcomeBackTitle]|</string>
			<string>H:|-8-[welcomeBackMessage]-8-|</string>
			<string>H:|-20-[welcomeBackDismiss]-40-[welcomeBackRouteMe]-20-|</string>
			<string>#welcomeBackRouteMe.height=welcomeBackDismiss.height,1,0</string>
			<string>#welcomeBackRouteMe.centery=welcomeBackDismiss.centery,1,0</string>
			<string>#welcomeBackRouteMe.width=welcomeBackDismiss.width,1,0</string>
		</array>
	</dict>
	<key>welcomeBackTitle</key>
	<dict>
		<key>text</key>
		<string>#afcuimroutebuilderviewcontroller.welcomebacktitle.text</string>
		<key>alignment</key>
		<string>center</string>
		<key>fontName</key>
		<string>$MainFontMedium</string>
		<key>fontSize</key>
		<integer>16</integer>
		<key>color</key>
		<string>$WhiteColor</string>
	</dict>
	<key>welcomeBackMessage</key>
	<dict>
		<key>text</key>
		<string>#afcuimroutebuilderviewcontroller.welcomebackmessage.text</string>
		<key>fontName</key>
		<string>$MainFont</string>
		<key>fontSize</key>
		<integer>13</integer>
		<key>alignment</key>
		<string>center</string>
		<key>color</key>
		<string>$WhiteColor</string>
		<key>lines</key>
		<string>2</string>
	</dict>
	<key>welcomeBackDismiss</key>
	<dict>
		<key>buttonTitle</key>
		<string>#afcuimroutebuilderviewcontroller.welcomebackdismiss.buttontitle</string>
		<key>fontName</key>
		<string>$MainFont</string>
		<key>fontSize</key>
		<integer>14</integer>
		<key>color</key>
		<string>$WhiteColor</string>
		<key>aligment</key>
		<string>center</string>
		<key>borderColor</key>
		<string>$WhiteColor</string>
		<key>borderWidth</key>
		<integer>1</integer>
		<key>cornerRadius</key>
		<integer>5</integer>
	</dict>
	<key>welcomeBackRouteMe</key>
	<dict>
		<key>buttonTitle</key>
		<string>#afcuimroutebuilderviewcontroller.welcomebackrouteme.buttontitle</string>
		<key>color</key>
		<string>$WhiteColor</string>
		<key>fontName</key>
		<string>$MainFont</string>
		<key>fontsize</key>
		<integer>14</integer>
		<key>aligment</key>
		<string>center</string>
		<key>borderColor</key>
		<string>$WhiteColor</string>
		<key>borderWidth</key>
		<integer>1</integer>
		<key>cornerRadius</key>
		<integer>5</integer>
	</dict>
</dict>
</plist>
