<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contentView</key>
	<dict>
		<key>constraints</key>
		<array>
			<string>H:|-20-[titleLabel]-5-[poiImageView(60)]-20-|</string>
			<string>V:|-10-[poiImageView(60)]-&lt;=10-|</string>
			<string>V:|-20-[titleLabel(24)][subtitleLabel(19)]-&gt;=1-|</string>
			<string>#subtitleLabel.left=titleLabel.left,1,0</string>
		</array>
	</dict>
	<key>poiImageView</key>
	<dict>
		<key>cornerRadius</key>
		<string>30</string>
	</dict>
	<key>subtitleLabel</key>
	<dict>
		<key>alignment</key>
		<string>left</string>
		<key>fontName</key>
		<string>$MainFontLight</string>
		<key>fontSize</key>
		<integer>12</integer>
		<key>color</key>
		<string>#01B7FF</string>
		<key>lines</key>
		<string>1</string>
	</dict>
	<key>titleLabel</key>
	<dict>
		<key>fontName</key>
		<string>$MainFontLight</string>
		<key>fontSize</key>
		<integer>20</integer>
		<key>alignment</key>
		<string>left</string>
		<key>color</key>
		<string>$BlackColor</string>
		<key>lines</key>
		<string>1</string>
	</dict>
</dict>
</plist>
