<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>view</key>
	<dict>
		<key>constraints</key>
		<array>
			<string>H:|[headerView]|</string>
			<string>H:|[table]|</string>
		</array>
	</dict>
	<key>view#forVenueMap</key>
	<dict>
		<key>constraints</key>
		<array>
			<string>V:|[headerView(62)][table(&gt;=10)]|</string>
		</array>
	</dict>
	<key>view#forCampusSelector</key>
	<dict>
		<key>constraints</key>
		<array>
			<string>V:|[headerView(70)][table(&gt;=10)][selectCampusButtonContainer(65)]|</string>
			<string>H:|[selectCampusButtonContainer]|</string>
		</array>
	</dict>
	<key>table</key>
	<dict/>
	<key>headerView</key>
	<dict>
		<key>constraints</key>
		<array>
			<string>V:|-&gt;=0-[poiName]-2-[poiLevel]-&gt;=0-|</string>
			<string>H:|[bottomMargin]|</string>
			<string>V:|-10-[bottomMargin]|</string>
			<string>H:|[maskView]|</string>
			<string>V:|[maskView]-&gt;=0-|</string>
			<string>#poiLevel.left=poiName.left,1,0</string>
			<string>#poiLevel.width=poiName.width,1,0</string>
			<string>#poiName.centery=shareButton.centery,1,0</string>
			<string>#maskView.height=headerView.height,1,-35</string>
		</array>
	</dict>
	<key>headerView#forVenueMap</key>
	<dict>
		<key>constraints</key>
		<array>
			<string>H:|-20-[poiName]-5-[shareButton(40)][routeButton(40)]-10-|</string>
			<string>V:|-10-[shareButton(40)]-&gt;=0-|</string>
			<string>#routeButton.top=shareButton.top,1,0</string>
			<string>#shareButton.height=shareButton.height,1,0</string>
			<string>#routeButton.height=shareButton.height,1,0</string>
		</array>
	</dict>
	<key>headerView#forCampusSelector</key>
	<dict>
		<key>constraints</key>
		<array>
			<string>H:|-20-[poiName]-5-[favoritesButton(40)]-10-|</string>
			<string>V:|-43-[distanceToPOI]-&gt;=0-|</string>
			<string>#distanceToPOI.centerx=favoritesButton.centerx,1,0</string>
			<string>#defaultCampusIcon.centery=favoritesButton.centery,1,0</string>
			<string>#defaultCampusIcon.right=favoritesButton.left,1,-10</string>
		</array>
	</dict>
	<key>routeButton</key>
	<dict>
		<key>image</key>
		<string>directions.button.png</string>
	</dict>
	<key>shareButton</key>
	<dict>
		<key>image</key>
		<string>EngageMe_ios_share.png</string>
	</dict>
	<key>favoritesButton</key>
	<dict>
		<key>image</key>
		<string>favorite.button.png</string>
		<key>image#selected</key>
		<string>favorite.selected.png</string>
	</dict>
	<key>descriptionLabel</key>
	<dict>
		<key>fontName</key>
		<string>$MainFontLight</string>
		<key>fontSize</key>
		<integer>16</integer>
		<key>color</key>
		<string>#333333</string>
	</dict>
	<key>poiName</key>
	<dict>
		<key>fontName</key>
		<string>$MainFontThin</string>
		<key>fontSize</key>
		<integer>22</integer>
		<key>alignment</key>
		<string>left</string>
		<key>color</key>
		<string>$BlackColor</string>
		<key>lines</key>
		<integer>0</integer>
	</dict>
	<key>poiLevel</key>
	<dict>
		<key>fontName</key>
		<string>$MainFontLight</string>
		<key>fontSize</key>
		<integer>12</integer>
		<key>color</key>
		<string>#0080FF</string>
		<key>alignment</key>
		<string>left</string>
		<key>lines</key>
		<integer>1</integer>
	</dict>
	<key>distanceToPOI</key>
	<dict>
		<key>fontName</key>
		<string>$MainFontBold</string>
		<key>fontSize</key>
		<integer>9</integer>
		<key>alignment</key>
		<string>center</string>
		<key>lines</key>
		<integer>1</integer>
		<key>color</key>
		<string>#0080FF</string>
	</dict>
	<key>maskView</key>
	<dict>
		<key>backgroundColor</key>
		<string>#ffffff</string>
	</dict>
	<key>bottomMargin</key>
	<dict>
		<key>backgroundColor</key>
		<string>#ffffff</string>
	</dict>
	<key>selectCampusButtonContainer</key>
	<dict>
		<key>backgroundColor</key>
		<string>#ffffff</string>
		<key>constraints</key>
		<array>
			<string>H:|-20-[selectCampusButton]-20-|</string>
			<string>V:|-10-[selectCampusButton]-10-|</string>
		</array>
	</dict>
	<key>selectCampusButton</key>
	<dict>
		<key>backgroundColor</key>
		<string>#0c67ff</string>
		<key>cornerRadius</key>
		<integer>3</integer>
		<key>fontName</key>
		<string>GothamRounded-Medium</string>
		<key>fontSize</key>
		<integer>12</integer>
		<key>color</key>
		<string>#ffffff</string>
		<key>buttonTitle</key>
		<string>#afcuiannotationdetailviewcontroller.selectCampusButton.buttontitle,AppFrameworkMapping</string>
	</dict>
	<key>defaultCampusIcon</key>
	<dict>
		<key>image</key>
		<string>multivenue.defaultbadge.png</string>
	</dict>
</dict>
</plist>
