<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>noResultsFoundLabel</key>
	<dict>
		<key>text</key>
		<string>#afcdirectoryviewcontroller.noresultsfound.title</string>
		<key>fontName</key>
		<string>$MainFont</string>
		<key>fontSize</key>
		<integer>18</integer>
		<key>color</key>
		<string>$LightGrayColor</string>
		<key>alignment</key>
		<string>center</string>
	</dict>
	<key>promptLocationAlert</key>
	<dict>
		<key>backgroundColor</key>
		<string>#FFCC0F</string>
	</dict>
	<key>promptLocationAlertCancelButton</key>
	<dict>
		<key>buttonTitle</key>
		<string>#afcuimmapviewcontroller.promptlocationalert.cancelbutton</string>
		<key>fontName</key>
		<string>$MainFont</string>
		<key>fontSize</key>
		<string>14</string>
		<key>alignment</key>
		<string>center</string>
		<key>color</key>
		<string>$GrayColor</string>
		<key>borderColor</key>
		<string>$WhiteColor</string>
		<key>borderWidth</key>
		<string>1</string>
		<key>cornerRadius</key>
		<string>5</string>
	</dict>
	<key>promptLocationAlertTakeMeThereButton</key>
	<dict>
		<key>buttonTitle</key>
		<string>#afcuimmapviewcontroller.promptlocationalert.takemetherebutton</string>
		<key>fontName</key>
		<string>$MainFont</string>
		<key>fontSize</key>
		<string>14</string>
		<key>alignment</key>
		<string>center</string>
		<key>color</key>
		<string>$GrayColor</string>
		<key>borderColor</key>
		<string>$WhiteColor</string>
		<key>borderWidth</key>
		<string>1</string>
		<key>cornerRadius</key>
		<string>5</string>
	</dict>
	<key>promptLocationAlertMessage</key>
	<dict>
		<key>text</key>
		<string>#afcmmappickerviewcontroller.promptlocationalert.message</string>
		<key>lines</key>
		<string>2</string>
		<key>fontName</key>
		<string>$MainFont</string>
		<key>fontSize</key>
		<string>13</string>
		<key>alignment</key>
		<string>center</string>
		<key>color</key>
		<string>$GrayColor</string>
	</dict>
	<key>promptLocationAlertTitle</key>
	<dict>
		<key>text</key>
		<string>#afcmmappickerviewcontroller.promptlocationalert.title</string>
		<key>backgroundColor</key>
		<string>$GrayColor</string>
		<key>fontName</key>
		<string>$MainFontMedium</string>
		<key>fontSize</key>
		<string>16</string>
		<key>color</key>
		<string>$WhiteColor</string>
		<key>alignment</key>
		<string>center</string>
	</dict>
	<key>view</key>
	<dict>
		<key>constraints</key>
		<array>
			<string>H:|-(&gt;=50)-[noResultsFoundLabel]-(&gt;=50)-|</string>
			<string>V:|-(&lt;=150)-[noResultsFoundLabel(21)]-(&gt;=100)-|</string>
			<string>#noResultsFoundLabel.centerx=self.centerx,1,0</string>
		</array>
	</dict>
	<key>table</key>
	<dict/>
	<key>titleLabel</key>
	<dict>
		<key>type</key>
		<string>DefaultTitleLabel</string>
		<key>text</key>
		<string>#afcmmappickerviewcontroller.navbar.title</string>
	</dict>
</dict>
</plist>
