<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>view</key>
	<dict>
		<key>backgroundColor</key>
		<string>$WhiteColor</string>
		<key>constraints</key>
		<array>
			<string>V:|-0-[poiTable][backgroundSaveFiltersButton]|</string>
			<string>H:|[poiTable]|</string>
			<string>H:|[backgroundSaveFiltersButton]|</string>
		</array>
	</dict>
	<key>poiTable</key>
	<dict/>
	<key>backgroundSaveFiltersButton</key>
	<dict>
		<key>constraints</key>
		<array>
			<string>V:|-25-[saveFiltersButton]-25-|</string>
			<string>H:|-25-[saveFiltersButton]-25-|</string>
		</array>
		<key>backgroundColor</key>
		<string>$WhiteColor</string>
	</dict>
	<key>saveFiltersButton</key>
	<dict>
		<key>borderColor</key>
		<string>$GrayColor</string>
		<key>color</key>
		<string>$GrayColor</string>
		<key>borderWidth</key>
		<real>1</real>
		<key>buttonTitle</key>
		<string>#afcuimpoifiltereditorviewcontroller.savefiltersbutton.buttontitle</string>
		<key>fontName</key>
		<string>$MainFontLight</string>
		<key>fontSize</key>
		<integer>18</integer>
	</dict>
	<key>closeButton</key>
	<dict>
		<key>height</key>
		<string>30</string>
		<key>width</key>
		<string>64</string>
		<key>buttonTitle</key>
		<string>#afcuimpoifiltereditorviewcontroller.cancelbutton.buttontitle</string>
		<key>color</key>
		<string>$WhiteColor</string>
		<key>fontName</key>
		<string>$MainFont</string>
		<key>fontSize</key>
		<integer>15</integer>
	</dict>
	<key>titleLabel</key>
	<dict>
		<key>type</key>
		<string>DefaultTitleLabel</string>
		<key>text</key>
		<string>#afcuimpoifiltereditorviewcontroller.titlelabel.text</string>
		<key>alignment</key>
		<string>center</string>
		<key>lines</key>
		<string>1</string>
	</dict>
</dict>
</plist>
