<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>titleLabel</key>
	<dict>
		<key>fontName</key>
		<string>.SFUIDisplay-Medium</string>
		<key>fontSize</key>
		<string>16</string>
		<key>color</key>
		<string>#FEFEFE</string>
		<key>lines</key>
		<string>1</string>
		<key>lineBreakMode</key>
		<string>byTruncatingTail</string>
	</dict>
	<key>navigationBar</key>
	<dict/>
	<key>scrollView</key>
	<dict/>
	<key>containerView</key>
	<dict>
		<key>backgroundColor</key>
		<string>#f6f7fb</string>
	</dict>
	<key>headerView</key>
	<dict/>
	<key>contentView</key>
	<dict>
		<key>backgroundColor</key>
		<string>#ffffff</string>
	</dict>
	<key>headerImageView</key>
	<dict>
		<key>backgroundColor</key>
		<string>#ffffff</string>
		<key>contentMode</key>
		<string>aspectFill</string>
		<key>clipsToBounds</key>
		<true/>
	</dict>
	<key>buttonsView</key>
	<dict>
		<key>backgroundColor</key>
		<string>#ffffff</string>
		<key>cornerRadius</key>
		<string>4</string>
		<key>shadowColor</key>
		<string>#000000</string>
		<key>shadowOpacity</key>
		<real>0.3</real>
		<key>shadowOffset</key>
		<string>0,2</string>
		<key>shadowRadius</key>
		<integer>10</integer>
	</dict>
	<key>buttonsStackView</key>
	<dict>
		<key>axis</key>
		<string>horizontal</string>
		<key>alignment</key>
		<string>center</string>
		<key>distribution</key>
		<string>fillEqually</string>
	</dict>
	<key>itemTitleLabel</key>
	<dict>
		<key>lines</key>
		<integer>1</integer>
		<key>fontName</key>
		<string>.SFUIDisplay</string>
		<key>fontSize</key>
		<string>15</string>
		<key>color</key>
		<string>#3C3C3C</string>
	</dict>
	<key>itemSubtitleLabel</key>
	<dict>
		<key>lines</key>
		<integer>2</integer>
		<key>fontName</key>
		<string>.SFUIDisplay</string>
		<key>fontSize</key>
		<integer>14</integer>
		<key>color</key>
		<string>#959595</string>
	</dict>
	<key>itemDescriptionLabel</key>
	<dict>
		<key>lines</key>
		<integer>0</integer>
		<key>fontName</key>
		<string>.SFUIDisplay</string>
		<key>fontSize</key>
		<integer>14</integer>
		<key>color</key>
		<string>#323232</string>
	</dict>
	<key>promotionDateLabel</key>
	<dict>
		<key>lines</key>
		<integer>1</integer>
		<key>fontName</key>
		<string>.SFUIDisplay</string>
		<key>fontSize</key>
		<integer>14</integer>
		<key>color</key>
		<string>#959595</string>
	</dict>
	<key>view</key>
	<dict>
		<key>backgroundColor</key>
		<string>#ffffff</string>
		<key>constraints</key>
		<array>
			<string>V:|[scrollView]|</string>
			<string>H:|[scrollView]|</string>
			<string>#containerView.width=self.width,1,0</string>
			<string>V:|[containerView]|</string>
			<string>H:|[containerView]|</string>
			<string>V:|-20-[headerImageView(210)]-20-[contentView]|</string>
			<string>H:|-20-[headerImageView]-20-|</string>
			<string>H:|[contentView]|</string>
			<string>H:|-[buttonsView]-|</string>
			<string>V:|-19-[buttonsStackView]-15-|</string>
			<string>H:|[buttonsStackView]|</string>
			<string>#buttonsView.leading=headerImageView.leading,1,0</string>
			<string>#buttonsView.trailing=headerImageView.trailing,1,0</string>
			<string>#buttonsView.top=headerImageView.bottom,1,-4</string>
			<string>#itemTitleLabel.top=buttonsView.bottom,1,34</string>
			<string>V:[itemTitleLabel]-3-[itemSubtitleLabel]-24-[itemDescriptionLabel]-|</string>
			<string>H:|-23-[itemTitleLabel]-23-|</string>
			<string>H:|-23-[itemSubtitleLabel]-23-|</string>
			<string>H:|-23-[itemDescriptionLabel]-23-|</string>
		</array>
	</dict>
</dict>
</plist>
