<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>view</key>
	<dict>
		<key>constraints</key>
		<array>
			<string>H:|[table]|</string>
			<string>V:|[table]|</string>
		</array>
	</dict>
	<key>table</key>
	<dict/>
	<key>favoritesToggle</key>
	<dict>
		<key>tintColor</key>
		<string>$BlueColor</string>
	</dict>
	<key>favoritesBar</key>
	<dict>
		<key>constraints</key>
		<array>
			<string>H:|-8-[favoritesToggle]-8-|</string>
			<string>#favoritesToggle.centery=favoritesBar.centery,1,0</string>
			<string>V:|-&gt;=1-[favoritesToggle]-&gt;=1-|</string>
		</array>
		<key>backgroundColor</key>
		<string>$WhiteColor</string>
		<key>width</key>
		<integer>320</integer>
		<key>height</key>
		<integer>43</integer>
	</dict>
	<key>titleLabel</key>
	<dict>
		<key>type</key>
		<string>DefaultTitleLabel</string>
		<key>fontName</key>
		<string>$MainFontLight</string>
	</dict>
</dict>
</plist>
