<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Types</key>
	<dict>
		<key>DefaultNavBar</key>
		<dict>
			<key>tintColor</key>
			<string>$NavBarColor</string>
			<key>barTintColor</key>
			<string>$NavBarBackgroundColor</string>
		</dict>
		<key>DefaultTitleLabel</key>
		<dict>
			<key>fontName</key>
			<string>$MainFont</string>
			<key>fontSize</key>
			<string>16</string>
			<key>color</key>
			<string>$MainFontColorLight</string>
		</dict>
		<key>DefaultTextLabel</key>
		<dict>
			<key>fontName</key>
			<string>$MainFont</string>
			<key>color</key>
			<string>$MainFontColor</string>
			<key>fontSize</key>
			<string>16</string>
		</dict>
		<key>AFCUIParkingButton</key>
		<dict>
			<key>alignment</key>
			<string>center</string>
			<key>color</key>
			<string>$MainFontColor</string>
			<key>fontSize</key>
			<string>$MainFontSize</string>
			<key>fontName</key>
			<string>$MainFontThin</string>
		</dict>
		<key>AFCUIItemDetailTitleLabel</key>
		<dict>
			<key>fontSize</key>
			<string>$MainFontSize</string>
			<key>fontName</key>
			<string>$MainFont</string>
			<key>color</key>
			<string>$WhiteColor</string>
		</dict>
		<key>AFCUIItemDetailItemTitle</key>
		<dict>
			<key>alignment</key>
			<string>left</string>
			<key>fontSize</key>
			<string>$MainFontSize</string>
			<key>fontName</key>
			<string>$MainFont</string>
			<key>color </key>
			<string>$MainFontColorLight</string>
		</dict>
		<key>AFCUIItemDetailItemSubtitle</key>
		<dict>
			<key>alignment</key>
			<string>left</string>
			<key>fontSize</key>
			<string>$MainFontSize</string>
			<key>fontName</key>
			<string>$MainFontLight</string>
			<key>color</key>
			<string>$BlueColor</string>
		</dict>
	</dict>
	<key>Keys</key>
	<dict>
		<key>MainFontSize</key>
		<integer>15</integer>
		<key>MainFont</key>
		<string>HelveticaNeue</string>
		<key>MainFontLight</key>
		<string>HelveticaNeue-Light</string>
		<key>MainFontLightItalic</key>
		<string>HelveticaNeue-LightItalic</string>
		<key>MainFontThin</key>
		<string>HelveticaNeue-Thin</string>
		<key>MainFontBold</key>
		<string>HelveticaNeue-Bold</string>
		<key>MainFontMedium</key>
		<string>HelveticaNeue-Medium</string>
		<key>MainFontColor</key>
		<string>#3c3c3c</string>
		<key>MainFontColorLight</key>
		<string>#ffffff</string>
		<key>NavBarColor</key>
		<string>#ffffff</string>
		<key>NavBarBackgroundColor</key>
		<string>#00587a</string>
		<key>TableSeparatorColor</key>
		<string>#b9991a</string>
		<key>WhiteColor</key>
		<string>#ffffff</string>
		<key>BlackColor</key>
		<string>#000000</string>
		<key>BlueColor</key>
		<string>#0080ff</string>
		<key>GrayColor</key>
		<string>#333333</string>
		<key>LightGrayColor</key>
		<string>#aaaaaa</string>
		<key>AccentColor</key>
		<string>#0080ff</string>
		<key>TitleColor</key>
		<string>#000000</string>
		<key>SubtitleColor</key>
		<string>#b3b3b3</string>
	</dict>
</dict>
</plist>
