<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Crashlytics API Key</key>
	<string>#ENTER A VALID VALUE#</string>
	<key>Analytics</key>
	<dict>
		<key>TOKEN_MIXPANEL</key>
		<string>YOUR_MIXPANEL_TOKEN</string>
		<key>TOKEN_GOOGLE</key>
		<string>YOUR_GOOGLE_TOKEN</string>
		<key>TOKEN_MAAS</key>
		<string>YOUR_MAAS_TOKEN</string>
		<key>TOKEN_LOCALYTICS</key>
		<string>YOUR_LOCALYTICS_TOKEN</string>
		<key>TOKEN_FLURRY</key>
		<string>YOUR_FLURRY_TOKEN</string>
	</dict>
	<key>LogSettings</key>
	<dict>
		<key>logToStdout</key>
		<true/>
		<key>verbosity</key>
		<string>Debug</string>
	</dict>
	<key>Core WS Integration</key>
	<dict>
		<key>topLevelContentName</key>
		<string>#ENTER A VALID VALUE#</string>
		<key>applicationUUID</key>
		<string>d41a1b5c-46a5-45e0-ae33-92fce0634d5c</string>
		<key>popSmartFormSubmission</key>
		<true/>
	</dict>
	<key>MaaS Integration</key>
	<dict>
		<key>MaaSAppID</key>
		<string>1406</string>
		<key>MaaSAccessKey</key>
		<string>5d40f80365b7bfa81af42093e6fa689726a8f261</string>
		<key>MaaSSignatureKey</key>
		<string>843c5395ed70c2c57206e4636cd18ef38bcbe310</string>
		<key>S3URL</key>
		<string>https://solutions-db.phunware.com</string>
	</dict>
	<key>PowerUser</key>
	<dict>
		<key>Days</key>
		<string>7</string>
		<key>TriggerValue</key>
		<string>3</string>
		<key>Attribute</key>
		<string>poweruser</string>
	</dict>
</dict>
</plist>
