<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>view</key>
	<dict>
		<key>constraints</key>
		<array>
			<string>V:|-0-[map][dropPinContainerView]|</string>
			<string>H:|[map]|</string>
			<string>H:|[dropPinContainerView]|</string>
		</array>
	</dict>
	<key>dropPinButton</key>
	<dict>
		<key>borderColor</key>
		<string>$LightGrayColor</string>
		<key>borderWidth</key>
		<integer>1</integer>
		<key>fontName</key>
		<string>$MainFontLight</string>
		<key>fontSize</key>
		<integer>16</integer>
		<key>color</key>
		<string>$LightGrayColor</string>
		<key>buttonTitle</key>
		<string>#afcparkingmapviewcontroller.droppinbutton.buttontitle,AppFrameworkParking</string>
	</dict>
	<key>dropPinButton#clearEnabled</key>
	<dict>
		<key>buttonTitle</key>
		<string>#afcparkingmapviewcontroller.droppinbutton.clearenabled.buttontitle,AppFrameworkParking</string>
		<key>fontName</key>
		<string>$MainFontLight</string>
		<key>fontSize</key>
		<integer>16</integer>
		<key>color</key>
		<string>$BlueColor</string>
		<key>borderColor</key>
		<string>$BlueColor</string>
		<key>borderWidth</key>
		<integer>1</integer>
	</dict>
	<key>dropPinButton#dropPinEnabled</key>
	<dict>
		<key>buttonTitle</key>
		<string>#afcparkingmapviewcontroller.droppinbutton.droppinenabled.buttontitle,AppFrameworkParking</string>
		<key>fontName</key>
		<string>$MainFontLight</string>
		<key>fontSize</key>
		<integer>16</integer>
		<key>color</key>
		<string>$BlueColor</string>
		<key>borderColor</key>
		<string>$BlueColor</string>
		<key>borderWidth</key>
		<integer>1</integer>
	</dict>
	<key>dropPinButton#dropPinDisabled</key>
	<dict>
		<key>buttonTitle</key>
		<string>#afcparkingmapviewcontroller.droppinbutton.droppindisabled.buttontitle,AppFrameworkParking</string>
		<key>fontName</key>
		<string>$MainFontLight</string>
		<key>fontSize</key>
		<integer>16</integer>
		<key>color</key>
		<string>$LightGrayColor</string>
		<key>borderColor</key>
		<string>$LightGrayColor</string>
		<key>borderWidth</key>
		<integer>1</integer>
	</dict>
	<key>locateUserButton</key>
	<dict>
		<key>image</key>
		<string>findmenow.png</string>
		<key>image#selected</key>
		<string>findmedown.png</string>
	</dict>
	<key>dropPinContainerView</key>
	<dict>
		<key>backgroundColor</key>
		<string>$WhiteColor</string>
		<key>constraints</key>
		<array>
			<string>H:|-20-[dropPinButton]-20-|</string>
			<string>V:|-15-[dropPinButton]-15-|</string>
		</array>
	</dict>
	<key>map</key>
	<dict>
		<key>constraints</key>
		<array>
			<string>V:|-&gt;=1-[locateUserButton(48)]-8-|</string>
			<string>H:|-8-[locateUserButton(48)]-&gt;=1-|</string>
		</array>
	</dict>
	<key>titleLabel</key>
	<dict>
		<key>type</key>
		<string>DefaultTitleLabel</string>
		<key>text</key>
		<string>#afcparkingmapviewcontroller.titlelabel.text,AppFrameworkParking</string>
	</dict>
</dict>
</plist>
